<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="title" content="东关集团">
<meta name="keywords" content="东关集团">
<meta name="description" content="东关集团">
<title>东关集团</title>
<link rel="stylesheet" href="__CSS__/style.css">
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/module.js"></script>
</head>
<body>
    <div class="common-box">
         <include file="Public/nav" />
        <div class="sub-nav">

        </div>
    </div>
    <include file="Public/banner" />
    <div class="inside-box">
        <div class="left">
            <div class="position">
                新闻中心 <span>></span> 新闻
            </div>
        </div>
        <div class="right">
            <div class="title">
                <h3>新闻中心<span>NEWS CENTER</span></h3>
            </div>
        </div>
    </div>
    <div class="news-box">
        <div class="left">
            <ul>
				<volist name="list" id="vo" offset="0" length='3'>
                <li>
                    <div class="content">
                        <div class="title"><a href="/news/content.html?id=<{$vo.aid}>"><{$vo.title}></a></div>
                        <div class="author">发布者：东关集团</div>
                        <p><a href="news-content.html"><{$vo.description}></a></p>
                    </div>
                </li>               
				</volist>
            </ul>
        </div>
        <div class="right">
            <div class="header-news bg-none">
                <div class="time"><{$info.addtime|date="M d,Y",###}></div>
                <div class="title"><{$info.title}></div>
                <div class="author">发布者：东关集团  <{$info.addtime|date="Y年m月d日",###}></div>
            </div>
            <div class="news-content">
                <{$info.content}>
            </div>           
        </div>

    </div>
     <include file="Public/footer" />
<script>

</script>   
</body>
</html>