<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="title" content="<{$webinfo.sitename}>">
<meta name="keywords" content="<{$webinfo.keywords}>">
<meta name="description" content="<{$webinfo.descriptions}>">
<title>东关集团-<{$smalltitle}></title>
<link rel="stylesheet" href="__CSS__/style.css">
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/module.js"></script>
</head>
<body>
    <div class="common-box">
        <include file="Public/nav" />
        <div class="sub-nav">

        </div>
    </div>
    <include file="Public/banner" />
    <div class="inside-box">
        <div class="left">
            <div class="position">
                新闻中心
            </div>
        </div>
        <div class="right">
            <div class="title">
                <h3>新闻中心<span>NEWS CENTER</span></h3>
            </div>
        </div>
    </div>
    <div class="news-box">
        <div class="left">
            <div class="common-box3"><div class="arrow"></div></div>
        </div>
        <div class="right">
			<volist name="topdata" id="vo" offset="0" length='1'>
            <div class="header-news">
                <div class="time"><{$vo.addtime|date='M d,Y',###}></div>
                <div class="title"><a href="/news/content.html?id=<{$vo.aid}>"><{$vo.title}></a></div>
                <p><a href="news-content.html"><{$vo.addtime|date='Y年m月d日',###}></a></p>
                <p><a href="news-content.html"><{$vo.des}></a></p>
                <div class="view"><a href="/news/content.html?id=<{$vo.aid}>"></a></div>
            </div>
			</volist>
            <ul>
				<volist name="list" id="vo">
				<if condition="$vo['aid'] neq $topdata[0]['aid']">
                <li>
                    <div class="time">
                        <div class="day"><{$vo.addtime|date='d',###}></div>
                        <p><{$vo.addtime|date='M',###}></p>
                        <p><{$vo.addtime|date='Y',###}></p>
                    </div>
                    <div class="content">
                        <div class="title"><a href="/news/content.html?id=<{$vo.aid}>"><{$vo.title}></a></div>
                        <div class="author">发布者：东关集团</div>
                        <p><a href="news-content.html"><{$vo.des}></a></p>
                    </div>
                </li>  
				</if>
				</volist>
            </ul>
           <div class="page">
				<{$page}>
			</div>
        </div>

    </div>
    <include file="Public/footer" />
<script>
var obj = new Obj();
obj.addNew(".more",".right ul");
</script>   
</body>
</html>