<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="title" content="东关集团">
<meta name="keywords" content="东关集团">
<meta name="description" content="东关集团">
<title>东关集团</title>
<link rel="stylesheet" href="__CSS__/style.css">
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/module.js"></script>
</head>
<body>
    <div class="common-box">
        <include file="Public/nav" />
        <div class="sub-nav">

        </div>
    </div>
    <div class="common-box"><div class="inside-banner"><img src="__IMAGE__/inside-banner.jpg" alt=""></div></div>
    <div class="inside-box">
        <div class="left">
            <div class="position">
                新闻中心
            </div>
        </div>
        <div class="right">
            <div class="title">
                <h3>新闻中心<span>NEWS CENTER</span></h3>
            </div>
        </div>
    </div>
    <div class="news-box">
        <div class="left">
            <div class="common-box3"><div class="arrow"></div></div>
        </div>
        <div class="right">
            <div class="header-news">
                <div class="time">JUL 20,2017</div>
                <div class="title"><a href="news-content.html">东关·拾悦城封顶</a></div>
                <p><a href="news-content.html">2017年7月20日</a></p>
                <p><a href="news-content.html">由深圳市东关投资集团有限公司开发的城市西部力作——拾悦城，如期封顶。</a></p>
                <div class="view"><a href="news-content.html"></a></div>
            </div>
            <ul>
                <li>
                    <div class="time">
                        <div class="day">20</div>
                        <p>JUL</p>
                        <p>2017</p>
                    </div>
                    <div class="content">
                        <div class="title"><a href="news-content.html">东关·拾悦城封顶</a></div>
                        <div class="author">发布者：东关集团</div>
                        <p><a href="news-content.html">2017年7月20日，由深圳市东关投资集团有限公司开发的城市西部力作——拾悦城，如期封顶。</a></p>
                    </div>
                </li>
                <li>
                    <div class="time">
                        <div class="day">18</div>
                        <p>JUL</p>
                        <p>2017</p>
                    </div>
                    <div class="content">
                        <div class="title"><a href="news-content.html">拾悦城世界湾价值高峰论坛暨体验中心开放</a></div>
                        <div class="author">发布者：东关集团</div>
                        <p><a href="news-content.html">017年6月18日，东关·拾悦城体验中心盛大开放，“世界的湾 生活的城”世界湾价值高峰论坛也于项目现场揭幕。深圳主流地产媒体、业界众多大咖齐聚一堂。</a></p>
                    </div>
                </li>
                <li style="border-bottom:none;">
                    <div class="time">
                        <div class="day">10</div>
                        <p>JUL</p>
                        <p>2017</p>
                    </div>
                    <div class="content">
                        <div class="title"><a href="news-content.html">集团与建设银行深圳分行达成战略合作，获20亿元人民币授信额度</a></div>
                        <div class="author">发布者：东关集团</div>
                        <p><a href="news-content.html">2013年，东关集团投资有限公司（以下简称东关集团）与建设银行深圳分行在深圳签署战略合作协议，东关集团获20亿元人民币授信额度。</a></p>
                    </div>
                </li>

            </ul>
            <div class="more"></div>
        </div>

    </div>
    <include file="Public/footer" />
<script>
var obj = new Obj();
obj.addNew(".more",".right ul");
</script>   
</body>
</html>