<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="title" content="东关集团">
<meta name="keywords" content="东关集团">
<meta name="description" content="东关集团">
<title>东关集团</title>
<link rel="stylesheet" href="__CSS__/style.css">
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/module.js"></script>
</head>
<body>
    <div class="common-box">
       <include file="Public/nav" />
        <div class="sub-nav">
            <ul>
                <a href="/dongguan.html"><li class="active">企业介绍</li></a>
                <a href="/dongguan/idea.html"><li>企业理念</li></a>
                <a href="/dongguan/year.html"><li>企业年志</li></a>
                <a href="/dongguan/honor.html"><li>企业荣誉</li></a>
                <a href="/dongguan/partner.html"><li>合作伙伴</li></a>
            </ul>
        </div>
    </div>
    <div class="common-box"><div class="inside-banner"><img src="__IMAGE__/inside-banner.jpg" alt=""></div></div>
    <div class="inside-box about-us">
        <div class="left">
            <div class="position">
                走进东关<span>＞</span>企业介绍
            </div>
            <div class="left-content">
                <div class="common-box"></div>
                <div class="common-box2"></div>
                <div class="common-box3"><div class="arrow"></div></div>
            </div>
        </div>
        <div class="right">
            <div class="title">
                <h3>企业介绍<span>ABOUT US</span></h3>
            </div>
            <div class="content">
                <div class="title1">
                    <h3>东关集团</h3>
                    <p>GDONGGUAN GROUP</p>
                </div>
                <div>
				<{$dgjt.content}>
				</div>
                <div class="video">
                    <video poster="__IMAGE__/video.jpg" src="http://www.w3school.com.cn/i/movie.ogg" controls="controls" width="760" height="405"></video>
                </div>
            </div>

            <div class="title">
                <h3>集团掌舵人<span>THE LEADER OF THE GROUP</span></h3>
            </div>
            <div class="content leader-content">
                <div class="leader-img"></div>
                <div class="leader-text">
                  <{$jtzdr.content}>
                </div>
            </div>
        </div>
    </div>
   <include file="Public/footer" />

</body>
</html>