<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="title" content="东关集团">
<meta name="keywords" content="东关集团">
<meta name="description" content="东关集团">
<title>东关集团</title>
<link rel="stylesheet" href="__CSS__/style.css">
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/module.js"></script>
</head>
<body>
    <div class="common-box">
       <include file="Public/nav" />
        <div class="sub-nav">
            <ul>
                <a href="/dongguan.html"><li class="active">企业介绍</li></a>
                <a href="/dongguan/idea.html"><li>企业理念</li></a>
                <a href="/dongguan/year.html"><li>企业年志</li></a>
                <a href="/dongguan/honor.html"><li>企业荣誉</li></a>
                <a href="/dongguan/partner.html"><li>合作伙伴</li></a>
            </ul>
        </div>
    </div>
    <div class="common-box"><div class="inside-banner"><img src="__IMAGE__/inside-banner.jpg" alt=""></div></div>
    <div class="inside-box about-us">
        <div class="left">
            <div class="position">
                走进东关<span>＞</span>企业介绍
            </div>
            <div class="left-content">
                <div class="common-box"></div>
                <div class="common-box2"></div>
                <div class="common-box3"><div class="arrow"></div></div>
            </div>
        </div>
        <div class="right">
            <div class="title">
                <h3>企业介绍<span>ABOUT US</span></h3>
            </div>
            <div class="content">
                <div class="title1">
                    <h3>东关集团</h3>
                    <p>GDONGGUAN GROUP</p>
                </div>
                <p>东关集团成立于1995年，经过二十余年的发展，成为以房地产开发与城市更新为主力、同时集合置业投资、物业服务于一体的专业房地产集团。</p>
                <p>集团以务实、多元的发展策略，聚焦深圳、汕尾两地房地产开发市场，已开发项目建筑面积超100万平方米。在业绩持续增长的同时，建立起“精工创享生活”的品牌形象。</p>
                <p>2014年起，集团拓展城市更新版图，致力于配合政府城市发展规划、改善社区环境、提高居民生活品质，稳固了“东关集团”在业界的知名度。与此同时，集团通过商业运营，收购物业进行资产重组，激活置业投资全产业链。集团物业服务以 “万家好物业”为主体展开。万家好物业以服务集团地产项目为主，为客户提供专业化、智能化、一站式的物业管理服务。</p>
                <p>未来，东关集团将继续秉承"品质筑建未来"的品牌理念，凭借战略规划的高效实施和良好的经营能力，打造属于东关人的百年基业!</p>
                <div class="video">
                    <video poster="__IMAGE__/video.jpg" src="http://www.w3school.com.cn/i/movie.ogg" controls="controls" width="760" height="405"></video>
                </div>
            </div>

            <div class="title">
                <h3>集团掌舵人<span>THE LEADER OF THE GROUP</span></h3>
            </div>
            <div class="content leader-content">
                <div class="leader-img"></div>
                <div class="leader-text">
                    <h3>温坚生</h3>
                    <p>温坚生先生，早年毕业于深圳大学，后攻读于上海交通大学管理学院，获工商管理硕士学位。扎根企业管理与房地产开发近三十年。</p> 
                    <p>1987年，时年25岁的温坚生先生大型国有企业任命为总经理。1992年温坚生先生被深圳市政府派往美国宾州部第安纳大学进修高级管理理论； 1995年创办深圳市东关集团公司，他以高深的管理理论造诣和丰富的管理实践经验，引领东关精英团队将一家小企业扩展成为大型集团式公司，获得较好的经济效益和社会效益。</p>
                </div>
            </div>
        </div>
    </div>
   <include file="Public/footer" />

</body>
</html>