<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="title" content="东关集团">
<meta name="keywords" content="东关集团">
<meta name="description" content="东关集团">
<title>东关集团</title>
<link rel="stylesheet" href="__CSS__/style.css">
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/module.js"></script>
</head>
<body>
    <div class="common-box">
        <include file="Public/nav" />
        <div class="sub-nav">
            <ul>
                <a href="/dongguan.html"><li>企业介绍</li></a>
                <a href="/dongguan/idea.html"><li>企业理念</li></a>
                <a href="/dongguan/year.html"><li class="active">企业年志</li></a>
                <a href="/dongguan/honor.html"><li>企业荣誉</li></a>
                <a href="/dongguan/partner.html"><li>合作伙伴</li></a>
            </ul>
        </div>
    </div>
    <div class="common-box"><div class="inside-banner"><img src="__IMAGE__/inside-banner.jpg" alt=""></div></div>
    <div class="inside-box">
        <div class="left">
            <div class="position">
                走进东关<span>＞</span>企业年志
            </div>
        </div>
        <div class="right">
            <div class="title">
                <h3>企业年志<span>MAJOR ANNUAL EVENTS</span></h3>
            </div>
        </div>
    </div>
    <div class="year-book">
        <div class="year">
            <div class="start right">
                <h3>1995.07</h3>
                <p>成立深圳市东关投资集团有限公司</p>
            </div>
            <ul>
                <li class="left">
                    <h3>2003.07</h3>
                    <p>投资并开发深圳市福田区“花里林居”项目</p>
                </li>
                <li class="right">
                    <h3>2004.05</h3>
                    <p>成立中共深圳市东关投资发展有限公司党支部</p>
                </li>
                <li class="left">
                    <h3>2007.04</h3>
                    <p> 投资并开发深圳市龙岗区“非凡空间阁”项目</p>
                </li>
                <li class="right">
                    <h3>2008.05</h3>
                    <p>创立深圳市万家好物业服务有限公司 <br/>为非凡空间阁、岸上林居、拾悦城提供物业服务</p>
                </li>
                <li class="left">
                    <h3>2010.02</h3>
                    <p>投资建立深圳市南头城同乐投资发展有限公司<br/>开发深圳市南山区“乐尚林居”项目</p>
                </li>
                <li class="right">
                    <h3>2010.12</h3>
                    <p>合资成立深圳市东跃投资有限公司</p>
                </li>
                <li class="left">
                    <h3>2013</h3>
                    <p>集团与建设银行深圳分行签订战略合作协议<br/>获得20亿元人民币授信额度</p>
                </li>
                <li class="right">
                    <h3>2016.05</h3>
                    <p>投资并更新开发深圳市坪山新区江边片区项目</p>
                </li>
                <li class="left">
                    <h3>2016.09</h3>
                    <p>投资并更新开发梅林美视地块项目</p>
                </li>
                <li class="right">
                    <h3>2017.7.20</h3>
                    <p>东关·拾悦城封顶</p>
                </li>
            </ul>
            <div class="end"></div>
        </div>

    </div>
    <include file="Public/footer" />
<script>

</script>   
</body>
</html>