<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>半兽人科技有限公司-内容后台管理</title>
    <link href="__CSS__/global.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/manager-common.css">
    <link href="__CSS__/home.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__JS__/jQuery.1.8.2.min.js"></script>


</head>
<body id="thrColEls">
<div class="Style2009">
    
    <include file="Public/top" />

    <div id="MainContentDIV">
        <link rel="stylesheet" type="text/css" href="__CSS__/managerMenu.css">
        <include file="Public/left_menu" />
        <div id="ManagerRight" style="margin: 0 20px 20px; padding-top:20px;">           
          
			<div class="manager-domain">
				<div class="md-title" style="padding-top:12px;">
					<span>尺寸规格文档</span>
				</div>
			</div>
           
		   <div id="count_body">
                <table class="huitable">
                    <thead>
                    <tr align="left">
                        <th>页面</th>
                        <th>图片位置</th>
                        <th>图片尺寸（宽*高）</th>                                           
                    </tr>
                    </thead>
					<style>
						tr td{text-align:center!important;}
					</style>
                    <tbody>   	              
                            <tr align="center">
                                <td>首页</td>
                                <td>banner</td>
                                <td>1920*492PX</td>								
                            </tr>
							<tr align="center">			
                                <td>走进东关-企业理念</td>
                                <td>banner</td>
                                <td>1199*321PX</td>							
                            </tr>  			
							<tr align="center">
                                <td>走进东关-企业年志</td>
                                <td>荣誉图片</td>
                                <td>370*262PX</td>								
                            </tr>	
							<tr align="center">
                                <td>走进东关-合作伙伴</td>
                                <td>合作伙伴图片</td>
                                <td>200*60px</td>								
                            </tr>
							<tr align="center">			
                                <td>集团产业-房地产开发</td>
                                <td>项目图片</td>
                                <td>596*412px</td>							
                            </tr>  			
							<tr align="center">
                                <td>集团产业-城市更新</td>
                                <td>项目图片</td>
                                <td>777*352px</td>								
                            </tr>
							<tr align="center">
                                <td>集团产业-置业投资</td>
                                <td>项目图片</td>
                                <td>943*288	px</td>								
                            </tr>
							<tr align="center">			
                                <td>集团产业-物业服务</td>
                                <td>头部banner切换</td>
                                <td>1200*400	px</td>							
                            </tr>  			
							<tr align="center">
                                <td>集团产业-物业服务</td>
                                <td>底部banner切换</td>
                                <td>1200*534	px</td>								
                            </tr>
							<tr align="center">			
                                <td>社会公益</td>
                                <td>图片</td>
                                <td>773*534	px</td>							
                            </tr>  			
							<tr align="center">
                                <td>加入我们-人在东关</td>
                                <td>图片</td>
                                <td>766*404px</td>								
                            </tr>
                    </tbody>
                </table>
            </div>
		   
			
			<div class="product-detail-desc mt-15">
				<div class="title mb-5">
				<span>提示：</span>
				</div>
				<p class="pt-5">请所有前端的页面的尺寸规格按此上传。</p>
			</div>
            

    </div>
</div>
<!-- 管理中心页面  使用的简单版本页脚 -->
<!-- 页脚部分 开始-->
<include file="Public/footer" />
<!-- 页脚部分 结束 -->
<script type="text/javascript" src="__JS__/common.js"></script>
</body>
</html>