.container{ margin:0; padding:0}
.content ul{float:left; margin:0; padding:0 }
.content ul li{float:left; background:#47b191; color:#fff; list-style:none; margin-left:5px; padding:10px; display:inline; cursor:pointer;border-radius: 4px;}
.content ul li:hover{background:#306b59;}
.content ul li a{color:#fff; list-style:none; margin-left:5px;  display:inline; cursor:pointer;border-radius: 4px;}
