
        <div class="nav">
            <div class="logo"></div>
            <div class="nav-list">
                <ul>
                    <a href="/index.html"><li <if condition="$pos eq index">class="active"</if>>首页</li></a>
                    <a href="/dongguan.html"><li <if condition="$pos eq dongguan">class="active"</if>>走进东关</li></a>
                    <a href="/news.html"><li <if condition="$pos eq news">class="active"</if>>新闻中心</li></a>
                    <a href="/product.html"><li <if condition="$pos eq product">class="active"</if>>集团产业</li></a>
                    <a href="/commonweal.html"><li <if condition="$pos eq commonweal">class="active"</if>>社会公益</li></a>
                    <a href="/join.html"><li <if condition="$pos eq join">class="active"</if>>加入我们</li></a>
                    <a href="/contact.html"><li <if condition="$pos eq contact">class="active"</if>>联络我们</li></a>
                </ul>
            </div>
        </div>
