
        <div class="nav">
            <div class="logo"></div>
            <div class="nav-list">
                <ul>
                    <a href="/index.html"><li class="active">首页</li></a>
                    <a href="/dongguan.html"><li>走进东关</li></a>
                    <a href="/news.html"><li>新闻中心</li></a>
                    <a href="/product.html"><li>集团产业</li></a>
                    <a href="/commonweal.html"><li>社会公益</li></a>
                    <a href="/join.html"><li>加入我们</li></a>
                    <a href="/contact.html"><li>联络我们</li></a>
                </ul>
            </div>
        </div>
