<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="title" content="<{$webinfo.sitename}>">
<meta name="keywords" content="<{$webinfo.keywords}>">
<meta name="description" content="<{$webinfo.descriptions}>">
<title>东关集团-<{$smalltitle}></title>
<link rel="stylesheet" href="__CSS__/style.css">
<link rel="stylesheet" href="__CSS__/swiper.min.css">
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/module.js"></script>
<script src="__JS__/swiper.min.js"></script>
</head>
<body>
	<div class="common-box">
	<include file="Public/nav" />  
    </div>	
    <div class="swiper-container swiper-container1 index-banner">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href=""><img src="__IMAGE__/banner1.jpg" alt=""></a></div>
            <div class="swiper-slide"><a href=""><img src="__IMAGE__/banner2.jpg" alt=""></a></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination1"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-next1"></div>
        <div class="swiper-button-prev swiper-button-prev1"></div>   
    </div>
    <div class="index-content">
        <div class="left">
            <div class="title">
                <h3>集团新闻</h3>
                <p>GROUP NEWS</p>
            </div>
            <div class="swiper-container swiper-container2 content">
                <div class="swiper-wrapper">
					<volist name="list" id="vo" offset="0" length='3'>
                    <div class="swiper-slide">
                        <h3><a href="/news/content.html?id=<{$vo.aid}>"><{$vo.title}></a></h3>
                        <div class="line-bottom"></div>
                        <p><a href="news-content.html"><{$vo.description}></a></p>
                    </div>
                    </volist>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination swiper-pagination2"></div>
            </div>


        </div>
        <div class="right">
            <ul>
                <li class="active1-1"><a href="/product.html"><img src="__IMAGE__/index-1.jpg" alt=""></a><div class="active1 active-hover" style="display:block"><a href="/product.html"><img src="__IMAGE__/index-1h.jpg" alt=""></a></div></li>
                <li class="active1-2"><a href="/product/update.html"><img src="__IMAGE__/index-2.jpg" alt=""></a><div class="active2 active-hover"><a href="/product/update.html"><img src="__IMAGE__/index-2h.jpg" alt=""></a></div></li>
                <li class="active1-3"><a href="/product/invest.html"><img src="__IMAGE__/index-3.jpg" alt=""></a><div class="active3 active-hover"><a href="/product/invest.html"><img src="__IMAGE__/index-3h.jpg" alt=""></a></div></li>
                <li class="active1-4"><a href="/product/service.html"><img src="__IMAGE__/index-4.jpg" alt=""></a><div class="active4 active-hover"><a href="/product/service.html"><img src="__IMAGE__/index-4h.jpg" alt=""></a></div></li>

            </ul>
        </div>
    </div>
    <include file="Public/footer" />    
<script>
var swiper = new Swiper('.swiper-container1', {
    pagination: '.swiper-pagination1',
    nextButton: '.swiper-button-next1',
    prevButton: '.swiper-button-prev1',
    slidesPerView: 1,
    paginationClickable: true,
    autoplay: 5000,
    spaceBetween: 0,
    autoplayDisableOnInteraction: false,
    loop: true
});

var swiper1 = new Swiper('.swiper-container2', {
    pagination: '.swiper-pagination2',
    paginationClickable: true,
    direction: 'vertical'
});
$(".index-content .right li").hover(function(){
    $(this).find(".active-hover").fadeIn(100).parents('li').siblings().find('.active-hover').fadeOut(100);
})
</script>   
</body>
</html>