<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="title" content="东关集团">
<meta name="keywords" content="东关集团">
<meta name="description" content="东关集团">
<title>东关集团</title>
<link rel="stylesheet" href="__CSS__/style.css">
<link rel="stylesheet" href="__CSS__/swiper.min.css">
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/module.js"></script>
<script src="__JS__/swiper.min.js"></script>
</head>
<body>
	<div class="common-box">
	<include file="Public/nav" />  
    </div>	
    <div class="swiper-container swiper-container1 index-banner">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href=""><img src="__IMAGE__/banner1.jpg" alt=""></a></div>
            <div class="swiper-slide"><a href=""><img src="__IMAGE__/banner2.jpg" alt=""></a></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination1"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-next1"></div>
        <div class="swiper-button-prev swiper-button-prev1"></div>   
    </div>
    <div class="index-content">
        <div class="left">
            <div class="title">
                <h3>集团新闻</h3>
                <p>GROUP NEWS</p>
            </div>
            <div class="swiper-container swiper-container2 content">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <h3><a href="news-content.html">拾悦城乐高嘉年华惊喜上映</a></h3>
                        <div class="line-bottom"></div>
                        <p><a href="news-content.html">东关·拾悦城位于沙井核心地带，地处宝安区沙井地铁11号线沿线旧改重点区域。毗邻地铁11号线沙井站，高效连接福田、南山。项目分为两期开发，一期规划总建筑面积约17万㎡，商业规划约8700㎡，包含4000㎡风情商业街，还规划一所优质小学。</a></p>
                    </div>
                    <div class="swiper-slide">
                        <h3><a href="news-content.html">业界名家齐聚拾悦城 为你解读湾区未来发展价值</a></h3>
                        <div class="line-bottom"></div>
                        <p><a href="news-content.html">2017年6月18日，世界湾价值高峰论坛——暨东关·拾悦城体验中心开放活动隆重举行。现场特邀综合开发研究院（深圳）旅游与地产研究中心主任宋丁、深职院房地产研究所所长邓志旺、知名城市学者、资深地产评论家王世泰、中原二级市场董事总经理玉家雄、深圳市网上行互动传媒有限公司总经理华仲占等十几位业界大咖齐聚论坛，为你深入解读世界的湾，生活的城！</a></p>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination swiper-pagination2"></div>
            </div>


        </div>
        <div class="right">
            <ul>
                <li class="active1-1"><a href="product.html"><img src="__IMAGE__/index-1.jpg" alt=""></a><div class="active1"><a href="product.html"><img src="__IMAGE__/index-1h.jpg" alt=""></a></div></li>
                <li class="active1-2"><a href="product-update.html"><img src="__IMAGE__/index-2.jpg" alt=""></a><div class="active2"><a href="product-update.html"><img src="__IMAGE__/index-2h.jpg" alt=""></a></div></li>
                <li class="active1-3"><a href="product-invest.html"><img src="__IMAGE__/index-3.jpg" alt=""></a><div class="active3"><a href="product-invest.html"><img src="__IMAGE__/index-3h.jpg" alt=""></a></div></li>
                <li class="active1-4"><a href="product-service.html"><img src="__IMAGE__/index-4.jpg" alt=""></a><div class="active4"><a href="product-service.html"><img src="__IMAGE__/index-4h.jpg" alt=""></a></div></li>

            </ul>
        </div>
    </div>
    <include file="Public/footer" />    
<script>
var swiper = new Swiper('.swiper-container1', {
    pagination: '.swiper-pagination1',
    nextButton: '.swiper-button-next1',
    prevButton: '.swiper-button-prev1',
    slidesPerView: 1,
    paginationClickable: true,
    autoplay: 5000,
    spaceBetween: 0,
    autoplayDisableOnInteraction: false,
    loop: true
});

var swiper1 = new Swiper('.swiper-container2', {
    pagination: '.swiper-pagination2',
    paginationClickable: true,
    direction: 'vertical'
});
</script>   
</body>
</html>