<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="title" content="东关集团">
<meta name="keywords" content="东关集团">
<meta name="description" content="东关集团">
<title>东关集团</title>
<link rel="stylesheet" href="__CSS__/style.css">
<link rel="stylesheet" href="__CSS__/swiper.min.css">
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/module.js"></script>
<script src="__JS__/swiper.min.js"></script>
</head>
<body>
    <div class="common-box">
        <include file="Public/nav" />
        <div class="sub-nav">
            <ul>
                <li style="margin-right:70px;"></li>
                <a href="/product.html"><li class="active">房地产开发</li></a>
                <a href="/product/update.html"><li>城市更新</li></a>
                <a href="/product/invest.html"><li>置业投资</li></a>
                <a href="/product/service.html"><li>物业服务</li></a>
            </ul>
        </div>
    </div>
    <include file="Public/banner" />
    <div class="inside-box build-box">
        <div class="left">
            <div class="position">
                集团产业<span>＞</span>房地产开发
            </div>
            <div class="left-content">
                <div class="font-bg">
                      <{$des.content}>
                </div>
                <ul class="nav">
                    <li <if condition="$typeid eq 33">class="active"</if>><a href="/product.html?id=33"><h3>热销项目</h3><span>HOT PROJECTS</span></a></li>
                    <li <if condition="$typeid eq 34">class="active"</if>><a href="/product.html?id=34"><h3>在建项目</h3><span>BUILDING</span></a></li>
                    <li <if condition="$typeid eq 35">class="active"</if>><a href="/product.html?id=35"><h3>已建项目</h3><span>HAS BEEN BUILT</span></a></li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="title">
                <h3>房地产开发<span>REAL ESTATE DEVELOPMENT</span></h3>
            </div>
			<volist name="list" id="vo">
            <div class="content">
                <div class="swiper-container swiper-container2 bulid-banner">
                    <div class="swiper-wrapper">
						<volist name='vo.imgarr' id='v'>
							<div class="swiper-slide "><img src="<{$v}>" alt=""></div>
                        </volist>                       
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-next2"></div>
                    <div class="swiper-button-prev swiper-button-prev2"></div>   
                </div>
                <div class="red">
                    <h3><{$vo.title}></h3>
                    <p class="font-red">占地面积（m2）:  <{$vo.zdmianji}></p>
                    <p class="font-red">建筑面积（m2）: <{$vo.jzmianji}> </p>
                    <p class="font-red">容积率 : <{$vo.rongji}> </p>   
					<p class="font-red"> 总户数 : <{$vo.count}>户 </p>
                    <p class="font-red">开发时间 : <{$vo.kftime|date="Y-m-d",###}></p>
                    <h3>项目概述：</h3>
                    <div>
					<{$vo.content}>
					</div>
                </div>
            </div>
			</volist>           
            <div class="content"><img src="__IMAGE__/map.jpg" style="width:100%" alt=""></div>
			<div class="page">
				<{$page}>
			</div>
        </div>
    </div>
    <include file="Public/footer" />

<script>
var swiper = new Swiper('.swiper-container1', {
    pagination: '.swiper-pagination1',
    slidesPerView: 1,
    paginationClickable: true,
    autoplay: 5000,
    spaceBetween: 0,
    autoplayDisableOnInteraction: false,
    loop: true
});

var swiper = new Swiper('.swiper-container2', {
    nextButton: '.swiper-button-next2',
    prevButton: '.swiper-button-prev2',
    slidesPerView: 1,
    paginationClickable: true,
    //autoplay: 5000,
    spaceBetween: 0,
    //autoplayDisableOnInteraction: false,
    loop: true
});
</script>  
</body>
</html>