<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="title" content="东关集团">
<meta name="keywords" content="东关集团">
<meta name="description" content="东关集团">
<title>东关集团</title>
<link rel="stylesheet" href="__CSS__/style.css">
<link rel="stylesheet" href="__CSS__/swiper.min.css">
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/module.js"></script>
<script src="__JS__/swiper.min.js"></script>
</head>
<body>
    <div class="common-box">
        <include file="Public/nav" />
        <div class="sub-nav">
            <ul>
                <li style="margin-right:70px;"></li>
                <a href="/product.html"><li class="active">房地产开发</li></a>
                <a href="/product/update.html"><li>城市更新</li></a>
                <a href="/product/invest.html"><li>置业投资</li></a>
                <a href="/product/service.html"><li>物业服务</li></a>
            </ul>
        </div>
    </div>
    <div class="common-box"><div class="inside-banner"><img src="__IMAGE__/inside-banner.jpg" alt=""></div></div>
    <div class="inside-box build-box">
        <div class="left">
            <div class="position">
                集团产业<span>＞</span>房地产开发
            </div>
            <div class="left-content">
                <div class="font-bg">
                      集团房地产开发团队善于发现客户需求，从关怀人性、关注生活本源为根本出发点，凝萃二十余载开发智慧，专注于精品物业的设计与生活氛围营造。团队对每个细节都精益求精，致力于将产品做到极致，从项目规划、建筑、景观、户型研究到交付，只为品质一步到位，打造世人期待的理想家园。
                </div>
                <ul class="nav">
                    <li <if condition="$typeid eq 16">class="active"</if>><a href="/product.html?id=16"><h3>热销项目</h3><span>HOT PROJECTS</span></a></li>
                    <li <if condition="$typeid eq 17">class="active"</if>><a href="/product.html?id=17"><h3>在建项目</h3><span>BUILDING</span></a></li>
                    <li <if condition="$typeid eq 18">class="active"</if>><a href="/product.html?id=18"><h3>已建项目</h3><span>HAS BEEN BUILT</span></a></li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="title">
                <h3>房地产开发<span>REAL ESTATE DEVELOPMENT</span></h3>
            </div>
            <div class="content">
                <div class="swiper-container swiper-container2 bulid-banner">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="__IMAGE__/1-1.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="__IMAGE__/1-1.jpg" alt=""></div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-next2"></div>
                    <div class="swiper-button-prev swiper-button-prev2"></div>   
                </div>
                <div class="red">
                    <h3>项目数据：</h3>
                    <p class="font-red">占地面积（m2）:  23362</p>
                    <p class="font-red">建筑面积（m2）: 97020 </p>
                    <p class="font-red">容积率 : 3.0     总户数 : 748户 </p>
                    <p class="font-red">开发时间 : 2013年12月</p>
                    <h3>介绍：</h3>
                    <p>岸上林居位于龙岗中心城CBD核心区，东关集团从项目的整体规划布局到建筑细节品质，倾尽全力，精益求精。依托大体量集中式的超级商业配套，立体式的城市交通路网，丰沛的生态森林资源，全屋品牌精装，为深圳东缔造中心宜居标杆。</p>
                    <p>项目凭借新自然风情和休闲生态绿谷、景观生态家园的非凡设计理念，获得了2014年全国人居经典方案环境金奖。</p>
                </div>
            </div>
            <div class="content">
                <div class="swiper-container swiper-container2 bulid-banner">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="__IMAGE__/3-2.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="__IMAGE__/3-2.jpg" alt=""></div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-next2"></div>
                    <div class="swiper-button-prev swiper-button-prev2"></div>   
                </div>
                <div class="red">
                    <h3>项目数据：</h3>
                    <p class="font-red">占地面积（m2）:  23362</p>
                    <p class="font-red">建筑面积（m2）: 97020 </p>
                    <p class="font-red">容积率 : 3.0     总户数 : 748户 </p>
                    <p class="font-red">开发时间 : 2013年12月</p>
                    <h3>介绍：</h3>
                    <p>岸上林居位于龙岗中心城CBD核心区，东关集团从项目的整体规划布局到建筑细节品质，倾尽全力，精益求精。依托大体量集中式的超级商业配套，立体式的城市交通路网，丰沛的生态森林资源，全屋品牌精装，为深圳东缔造中心宜居标杆。</p>
                    <p>项目凭借新自然风情和休闲生态绿谷、景观生态家园的非凡设计理念，获得了2014年全国人居经典方案环境金奖。</p>
                </div>
            </div>
            <div class="content">
                <div class="swiper-container swiper-container2 bulid-banner">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="__IMAGE__/2-2.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="__IMAGE__/2-2.jpg" alt=""></div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-next2"></div>
                    <div class="swiper-button-prev swiper-button-prev2"></div>   
                </div>
                <div class="red">
                    <h3>项目数据：</h3>
                    <p class="font-red">占地面积（m2）:  23362</p>
                    <p class="font-red">建筑面积（m2）: 97020 </p>
                    <p class="font-red">容积率 : 3.0     总户数 : 748户 </p>
                    <p class="font-red">开发时间 : 2013年12月</p>
                    <h3>介绍：</h3>
                    <p>岸上林居位于龙岗中心城CBD核心区，东关集团从项目的整体规划布局到建筑细节品质，倾尽全力，精益求精。依托大体量集中式的超级商业配套，立体式的城市交通路网，丰沛的生态森林资源，全屋品牌精装，为深圳东缔造中心宜居标杆。</p>
                    <p>项目凭借新自然风情和休闲生态绿谷、景观生态家园的非凡设计理念，获得了2014年全国人居经典方案环境金奖。</p>
                </div>
            </div>
            <div class="content"><img src="__IMAGE__/map.jpg" style="width:100%" alt=""></div>
        </div>
    </div>
    <include file="Public/footer" />

<script>
var swiper = new Swiper('.swiper-container1', {
    pagination: '.swiper-pagination1',
    slidesPerView: 1,
    paginationClickable: true,
    autoplay: 5000,
    spaceBetween: 0,
    autoplayDisableOnInteraction: false,
    loop: true
});

var swiper = new Swiper('.swiper-container2', {
    nextButton: '.swiper-button-next2',
    prevButton: '.swiper-button-prev2',
    slidesPerView: 1,
    paginationClickable: true,
    //autoplay: 5000,
    spaceBetween: 0,
    //autoplayDisableOnInteraction: false,
    loop: true
});
</script>  
</body>
</html>