<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="title" content="东关集团">
<meta name="keywords" content="东关集团">
<meta name="description" content="东关集团">
<title>东关集团</title>
<link rel="stylesheet" href="__CSS__/style.css">
<link rel="stylesheet" href="__CSS__/swiper.min.css">
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/module.js"></script>
<script src="__JS__/swiper.min.js"></script>
</head>
<body>
    <div class="common-box">
        <include file="Public/nav" />
        <div class="sub-nav">
            <ul>
                <li style="margin-right:70px;"></li>
                <a href="/product.html"><li>房地产开发</li></a>
                <a href="/product/update.html"><li>城市更新</li></a>
                <a href="/product/invest.html"><li class="active">置业投资</li></a>
                <a href="/product/service.html"><li>物业服务</li></a>
            </ul>
        </div>
    </div>
    <div class="common-box"><div class="inside-banner"><img src="__IMAGE__/inside-banner.jpg" alt=""></div></div>
    <div class="inside-box">
        <div class="left1">
            <div class="position">
                集团产业<span>＞</span>置业投资
            </div>
        </div>
        <div class="right1">
            <div class="title">
                <h3>置业投资<span>REAL ESTATE INVESTMENT </span></h3>
            </div>
        </div>
    </div>
    <div class="product invest-box">
        <div class="product-text">
            <div class="red-box"></div>
			<div>
			<{$des.content}>
			</div>
        </div>
        <div class="invest">
            <div class="left">
                <ul>
					<volist name="list" id="vo">
                    <li <if condition="$key eq 0">class="active"</if>><{$vo.title}></li>                  
					</volist>
                </ul>
            </div>
            <div class="right">
				<volist name="list" id="vo">
                <div class="swiper-container swiper-container<{$key+1}> bulid-banner" <if condition="$key neq 0">style="opacity: 0;"</if>>
                    <div class="swiper-wrapper">
					<volist name='vo.imgarr' id='v'>							
					<div class="swiper-slide"><img src="<{$v}>" alt=""></div>							
					</volist>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination swiper-pagination<{$key+1}>"></div>
                </div>
				</volist>
            </div>
        </div>
    </div>
    <include file="Public/footer" />
	<volist name="list" id="vo">
	<script>
	var swiper1 = new Swiper('.swiper-container<{$key+1}>', {
		pagination: '.swiper-pagination<{$key+1}>',
		slidesPerView: 1,
		paginationClickable: true,
		autoplay: 5000,
		spaceBetween: 0,
		autoplayDisableOnInteraction: false,
		loop: true
	});
	</script>
	</volist>
<script>
var obj = new Obj();
obj.invest();
</script>   
</body>
</html>