<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="title" content="东关集团">
<meta name="keywords" content="东关集团">
<meta name="description" content="东关集团">
<title>东关集团</title>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/swiper.min.css">
<script src="js/jquery.min.js"></script>
<script src="js/module.js"></script>
<script src="js/swiper.min.js"></script>
</head>
<body>
    <div class="common-box">
        <div class="nav">
            <div class="logo"></div>
            <div class="nav-list">
                <ul>
                    <a href="index.html"><li>首页</li></a>
                    <a href="dongguan.html"><li>走进东关</li></a>
                    <a href="news.html"><li>新闻中心</li></a>
                    <a href="product.html"><li class="active">集团产业</li></a>
                    <a href="commonweal.html"><li>社会公益</li></a>
                    <a href="join.html"><li>加入我们</li></a>
                    <a href="contact.html"><li>联络我们</li></a>
                </ul>
            </div>
        </div>
        <div class="sub-nav">
            <ul>
                <li style="margin-right:70px;"></li>
                <a href="product.html"><li>房地产开发</li></a>
                <a href="product-update.html"><li>城市更新</li></a>
                <a href="product-invest.html"><li>置业投资</li></a>
                <a href="product-service.html"><li class="active">物业服务</li></a>
            </ul>
        </div>
    </div>
    <div class="common-box"><div class="inside-banner"><img src="images/inside-banner.jpg" alt=""></div></div>
    <div class="inside-box">
        <div class="left">
            <div class="position">
                集团产业<span>＞</span>物业服务
            </div>
        </div>
        <div class="right">
            <div class="title">
            </div>
        </div>
    </div>
    <div class="service">
            <div class="swiper-container swiper-container2 ">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="images/service1.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="images/service1.jpg" alt=""></div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination swiper-pagination2"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-next2"></div>
                <div class="swiper-button-prev swiper-button-prev2"></div>   
            </div>

            <div class="top">
                <div class="left">物业服务</div>
                <div class="right">
                    <p>集团二十余年来不断洞悉客户需求，更将客户视为终生服务与关注的对象，不仅在房地产开发层面以品质致胜，还要致力使客户能全方位享受到高品质人居体验。</p>
                    <p>万家好物业服务有限公司秉承“贴心服务，永无止境”的服务理念，以服务集团地产项目为主，为客户提供专业化、智能化、一站式的物业管理服务，使住户始终能享有安全、优美、和谐的居住环境与生活氛围。</p>
                </div>
            </div>
            <div class="bottom">
                <div class="bg"></div>
                <div class="bg1">
                    <h3>一站式管家服务</h3>
                    <span>ONE-STOP</span>
                    <span>BUTLER SERVICE</span>
                    <p>万家好物业以“贴心服务 永无止境”作为服务理念，打破传统物业管理服务的疆界，由对建筑物的管理延展至物业持有人及物业使用人的服务，真正将“家人”和“管家”意识和服务融会贯通，提供除传统物业管理服务外还涵盖社区食堂、公寓租赁等增值服务以提升商业价值。</p>
                </div>
                <div class="swiper-container swiper-container1 ">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="images/service4.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="images/service4.jpg" alt=""></div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination swiper-pagination1"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-next1"></div>
                    <div class="swiper-button-prev swiper-button-prev1"></div>   
                </div>
            </div>
    </div>
    <div class="common-box">
        <div class="footer">
            <h3>版权说明</h3>
            <p>东关集团版权所有 粤ICP备17094323号</p>
            <p>深圳市东关投资集团有限公司   深圳市福田区上梅林梅东二路3-18号   0755-83674811</p>
        </div>
    </div> 
<script>
var swiper = new Swiper('.swiper-container1', {
    pagination: '.swiper-pagination1',
    nextButton: '.swiper-button-next1',
    prevButton: '.swiper-button-prev1',
    slidesPerView: 1,
    paginationClickable: true,
    autoplay: 5000,
    spaceBetween: 0,
    autoplayDisableOnInteraction: false,
    loop: true
});
var swiper = new Swiper('.swiper-container2', {
    pagination: '.swiper-pagination2',
    nextButton: '.swiper-button-next2',
    prevButton: '.swiper-button-prev2',
    slidesPerView: 1,
    paginationClickable: true,
    autoplay: 5000,
    spaceBetween: 0,
    autoplayDisableOnInteraction: false,
    loop: true
});
</script>   
</body>
</html>