<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="title" content="东关集团">
<meta name="keywords" content="东关集团">
<meta name="description" content="东关集团">
<title>东关集团</title>
<link rel="stylesheet" href="__CSS__/style.css">
<link rel="stylesheet" href="__CSS__/swiper.min.css">
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/module.js"></script>
<script src="__JS__/swiper.min.js"></script>
</head>
<body>
    <div class="common-box">
         <include file="Public/nav" />
        <div class="sub-nav">
            <ul>
                <li style="margin-right:70px;"></li>
                <a href="/product.html"><li>房地产开发</li></a>
                <a href="/product/update.html"><li class="active">城市更新</li></a>
                <a href="/product/invest.html"><li>置业投资</li></a>
                <a href="/product/service.html"><li>物业服务</li></a>
            </ul>
        </div>
    </div>
    <div class="common-box"><div class="inside-banner"><img src="__IMAGE__/inside-banner.jpg" alt=""></div></div>
    <div class="inside-box">
        <div class="left1">
            <div class="position">
                集团产业<span>＞</span>城市更新
            </div>
        </div>
        <div class="right1">
            <div class="title">
                <h3>城市更新<span>URBAN RENEWAL</span></h3>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="product-text">
        土地的二次利用和开发，将是未来中国地产行业的重大机遇！<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2014年，东关集团紧抓城市规划改革契机，组建城市更新专业团队拓展城市更新版图，在满足城市价值重塑与居民生活品质提升的前提下，通过科学、系统和有效的质量保证体系，将完善的配套与丰富功能融入项目设计中，使每个更新项目成为拉动区域腾飞的核心力量！
        </div>
        <div class="product-update">
            <div class="head">
                <div class="text">截止目前，集团未来在深圳的土地及旧改项目储备土地约50万平方米，建筑面积约250万平方米，按照4万元/平方米的销售价格，未来房地产开发销售额将达到近1000亿元！</div>
                <div class="swiper-container swiper-container1 product-banner1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="__IMAGE__/6.jpg" alt=""><div class="font">坪山·江岭广场片区城市更新项目</div></div>
                        <div class="swiper-slide"><img src="__IMAGE__/6.jpg" alt=""><div class="font">坪山·江岭广场片区城市更新项目</div></div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-next1"></div>
                    <div class="swiper-button-prev swiper-button-prev1"></div>   
                </div>



            </div>
            <!--<ul class="choose">
                <li><img src='images/product2.jpg' /></li>
                <li><img src='images/product3.jpg' /></li>
            </ul>
            <ul class="choose-content">
                <li><img src='images/product4.jpg' /><p>坪山·三洋湖工业区城市更新项目</p></li>
                <li style="float:right"><img src='images/product5.jpg' /><p>坪山·江岭广场片区城市更新项目</p></li>
            </ul>-->

        </div>
    </div>
     <include file="Public/footer" />
<script>
var swiper = new Swiper('.swiper-container1', {
    nextButton: '.swiper-button-next1',
    prevButton: '.swiper-button-prev1',
    slidesPerView: 1,
    paginationClickable: true,
    autoplay: 5000,
    spaceBetween: 0,
    autoplayDisableOnInteraction: false,
    loop: true
});
</script>   
</body>
</html>