<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="title" content="东关集团">
<meta name="keywords" content="东关集团">
<meta name="description" content="东关集团">
<title>东关集团</title>
<link rel="stylesheet" href="__CSS__/style.css">
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/module.js"></script>
</head>
<body>
    <div class="common-box">
        <include file="Public/nav" />
        <div class="sub-nav">
        </div>
    </div>
    <include file="Public/banner" />
    <div class="inside-box">
        <div class="left1">
            <div class="position">
                集团产业<span>＞</span>联络东关
            </div>
        </div>
        <div class="right1">
            <div class="title">
                <h3>联络东关<span>CONTACT US</span></h3>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="contact-box">
            <div class="contact addr">公司地址：深圳市福田区上梅林梅东五路花里林居裙楼 </div>
            <div class="contact email">邮    编：518049 </div>
            <div class="contact tel">联系电话：+86 0755 83674811/ 4899</div>
        </div>
        <div class="commont-box"><img src="__IMAGE__/contact.jpg" alt=""></div>
    </div>
    <include file="Public/footer" />
<script>

</script>   
</body>
</html>