<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="title" content="东关集团">
<meta name="keywords" content="东关集团">
<meta name="description" content="东关集团">
<title>东关集团</title>
<link rel="stylesheet" href="__CSS__/style.css">
<link rel="stylesheet" href="__CSS__/swiper.min.css">
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/module.js"></script>
<script src="__JS__/swiper.min.js"></script>
</head>
<body>
    <div class="common-box">
        <include file="Public/nav" />
        <div class="sub-nav">
            <ul>
                <li style="margin-right:350px;"></li>
                <a href="/join.html"><li>人在东关</li></a>
                <a href="/join/us.html"><li class="active">东关招聘</li></a>
            </ul>
        </div>
    </div>
    <div class="common-box"><div class="inside-banner"><img src="__IMAGE__/inside-banner.jpg" alt=""></div></div>
    <div class="inside-box">
        <div class="left1">
            <div class="position">
                加入我们 <span>></span> 东关招聘
            </div>
        </div>
        <div class="right1">
            <div class="title">
                <h3>东关招聘<span>RECRUIT</span></h3>
            </div>
        </div>
    </div>
    <div class="join-box">
        <ul>
            <li>
                <div class="title">Marketing specialist <span>[市场营销专员]</span></div>
                <p>1、负责公司产品的销售及推广；</p>
                <p>2、根据市场营销计划，完成部门销售指标；</p>
                <p>3、开拓新市场,发展新客户,增加产品销售范围；</p>
                <p>4、负责辖区市场信息的收集及竞争对手的分析；</p>
                <p>5、负责销售区域内销售活动的策划和执行，完成销售任务；</p>
                <p>6、本科及以上学历，营销策划、计算机应用、电子商务类专业优先考虑。</p>
            </li>
            <li>
                <div class="title">Central director assistant <span>[中心主任助理]</span></div>
                <p>岗位职责：</p>
                <p>1、全面主持项目物业服务工作；</p>
                <p>2、培训、督导、考评项目物业服务中心人员；</p>
                <p>3、建立健全现场物业管理工作 ；</p>
                <p>4、协助物业中心主任对各项目的工作进行监督与管理。</p>
                <p>任职要求：</p>
                <p>1、大专（含）以上学历，物业管理等相关专业；</p>
                <p>2、三年以上物业公司管理工作经验，良好的服务意识；</p>
                <p>3、具备较强的计划与监督执行能力，客户关系管理能力，学习能力，人际沟通能力，团队组织、建设能力，综合安全运营能力及突发事件应急处理能力等，较强的服务意识和服务技巧；</p>
                <p>4、有良好的心理素质、一定的抗压能力，优质的服务态度；</p>
                <p>5、持物业管理相关资格证者优先。</p>
            </li>
            <li>
                <div class="title">  Property project manager <span>[物业项目经理]</span></div>
                <p>岗位职责：</p>
                <p>1、领导全体项目服务部员工完成公司下达的责任目标；</p>
                <p>2、对项目的收支情况负责，业主满意率在95%以上；</p>
                <p>3、负责项目不合格服务的处理及纠正、预防措施和跟踪；</p>
                <p>4、按要求收集业主相关需求信息，并拿出组织实施方案；</p>
                <p>5、对项目员工进行考核，并据实进行奖罚。</p>
                <p>任职要求：</p>
                <p>1、领导全体项目服务部员工完成公司下达的责任目标；</p>
                <p>2、对项目的收支情况负责，业主满意率在95%以上；</p>
                <p>3、负责项目不合格服务的处理及纠正、预防措施和跟踪；</p>
                <p>4、按要求收集业主相关需求信息，并拿出组织实施方案；</p>
                <p>5、对项目员工进行考核，并据实进行奖罚。</p>
            </li>


        </ul>
    </div>
    <include file="Public/footer" />
<script>

</script>   
</body>
</html>