<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Hover Effect Ideas | Set 1</title>
		<meta name="description" content="Hover Effect Ideas: Inspiration for subtle hover effects" />
		<meta name="keywords" content="hover effect, inspiration, grid, thumbnail, transition, subtle, web design" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="__CSS__/style.css" />		
		<script type="text/javascript" src="__JS__/jQuery.1.8.2.min.js"></script>
		<script type="text/javascript" src="__JS__/layer/layer.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="content">				
				<ul>
					<volist name="list" id="vo">
					<li><a onclick="select_model(<{$vo.typeid}>)"><{$vo.typename}></a></li>
					</volist>
				</ul>
		</div><!-- /container -->
		<script>
			function select_model(id){
				$.ajax({
				type:'post',
				dataType:'json',
				data:{id:id},
				url:'/content/content_select',				
				success:function (data) {
					parent.location.href="/content/content_list";
					var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
					parent.layer.close(index);
					
				}
			});
			}
		</script>
	</body>
</html>