<include file="Public/header" />
<style>.url_td{display:block;white-space: nowrap;text-overflow:ellipsis;width:350px;overflow: hidden}</style>
<div id="SiteMapPath">
    <ul>
        <li>
            <a href="/">首页</a>
        </li>
        <li>
            <a href="/Realtime/pay_list">媒体管理</a>
        </li>
        <li>媒体成本添加</li>
    </ul>
</div>
<div id="MainContentDIV">
    <link rel="stylesheet" type="text/css" href="__CSS__/managerMenu.css">
    <include file="Public/left_menu" />
	
<div id="ManagerRight" class="ManagerRightShow">
	<div id="count_body" style="margin-top: 20px;">
		<form>
			<input type="hidden" name="id" value="<{$info.id}>"/>
            <table class="huitable">
                <colgroup>
                    <col width="10%">
                    <col>
                </colgroup>
                <tbody>                   
                    <tr><td>一级媒体：</td><td>
						<div class="gametype no_bor">
						<span>字母</span>
						<div class="type-info mt" id="mttitle">
							<ul>
								<li id="limt2-0" class="on"><a class="all" onclick="showallgamemt(2,5);">不限</a></li>
								<li id="limt2-1"><a onclick="showfirstmt('a,b,c,d,e',1);">ABCDE</a></li>
								<li id="limt2-2"><a onclick="showfirstmt('f,g,h,i,j',2);">FGHIJ</a></li>
								<li id="limt2-3"><a onclick="showfirstmt('k,l,m,n,o',3);">KLMNO</a></li>
								<li id="limt2-4"><a onclick="showfirstmt('p,q,r,s,t',4);">PQRST</a></li>
								<li id="limt2-5"><a onclick="showfirstmt('u,v,w,x,y,z',5);">UVWXYZ</a></li>
								<li id="limt2-6"><a onclick="showfirstmt('1,2,3,4,5,6,7,8,9',6);">123456789</a></li>
							</ul>
						</div>
					</div>
					<div style="float:left; width:100%;">
					<volist name="meiti" id="vo">
					<label style="float:left; line-height:18px; padding:5px;" class="mtname" short="<{$vo.cps_name}>">					
					<input style="margin-top:-2px;" type="radio" name="mt" mtname="<{$vo.cps_name}>" value="<{$vo.cid}>" <if condition="$vo['cid'] eq $info['cps_id']">checked</if> disabled><{$vo.cps_name}></label>
					</volist>	
                    </td></tr>	
					<tr><td>游戏：</td><td>					
					<div class="gametype no_bor">
						<span>字母</span>
						<div class="type-info mt">
							<ul>
								<li id="li2-0" class="on"><a class="all" onclick="showallgame(2,5);">不限</a></li>
								<li id="li2-1"><a onclick="showfirst('a,b,c,d,e',1);">ABCDE</a></li>
								<li id="li2-2"><a onclick="showfirst('f,g,h,i,j',2);">FGHIJ</a></li>
								<li id="li2-3"><a onclick="showfirst('k,l,m,n,o',3);">KLMNO</a></li>
								<li id="li2-4"><a onclick="showfirst('p,q,r,s,t',4);">PQRST</a></li>
								<li id="li2-5"><a onclick="showfirst('u,v,w,x,y,z',5);">UVWXYZ</a></li>								
							</ul>
						</div>
					</div>
					<div style="float:left; width:100%;">
					<volist name="game_list" id="vo">
					<label style="float:left; line-height:18px; padding:5px;" class="game" short="<{$vo.short}>">					
					<input style="margin-top:-2px;" type="radio" name="game" gname="<{$vo.gamename}>" value="<{$vo.gid}>" <if condition="$vo['gid'] eq $info['gid']">checked</if> ><{$vo.gamename}></label>
					</volist>
					</div>	
                    </td></tr>
					 <tr><td>合同：</td><td><input type="text" class="manager-input s-input" name="htname" id="htname" style="width: 300px" data-id="<{$info.cb_id}>" value="<{$info.agreetment}>" disabled></td></tr>
					<tr><td>消耗时间：</td><td>
						<input type="text" class="s_time" class="manager-input s-input" name="s_time" style="width: 300px" value="<{$info.spend_time|date='Y-m-d',###}>" disabled/>                      
                    </td></tr>
                    <tr><td>金额：</td><td><input type="text" class="manager-input s-input" name="money" id="money" style="width: 300px" value="<{$info.money}>"></td></tr>
					<tr><td>描述：</td><td><input type="text" class="manager-input s-input" name="des" id="des" style="width: 300px" value="<{$info.des}>"></td></tr>
                    <tr>
                        <td colspan="2">
                            <input type="button" name="dosubmit" id="dosubmit" value="修改" class="manager-btn s-btn search-btn">
                            <span id="tips" style="display: none"></span>
                        </td>
                    </tr>			
                </tbody>
            </table>
        </form>
	</div>
</div>
<script src="__JS__/laydate/laydate.js"></script>
<script type="text/javascript">
    $(function(){		
        $('#dosubmit').live('click',function() { 		
            var mtname = $("input[name='mt']:checked").attr("mtname");	
			 var cpsid = $("input[name='mt']:checked").val();
			var game = $("input[name='game']:checked").attr("gname");
			var time = $("input[name='s_time']").val();
			var des = $("input[name='des']").val();
			var money = $("input[name='money']").val();
			if(!mtname||!game||!time||!des||!money){				
				layer.msg('数据不完整', {icon:5,time:1000});
				return false;
			}			
			var ex = /^\d+$/;
			if (!ex.test(money)) {
			   layer.msg('金额只能是数字', {icon:5,time:1000});
				return false;
			}
			
			var ht = $("input[name='htname']").attr('data-id');
			var options = {
				url: "/spend/edit",
				type:"post",
				data: {'ht':ht},
				success: function (data) {
					data=jQuery.parseJSON(data);
					if(data.code==1){
						layer.msg('添加成功', {icon:6,time:1000}, function () {window.location.href="/spend/index";}); 
						return false; 
					}else{
						layer.msg(data.msg, {icon:5,time:1000});
						return false;
					}
					
				},
				error:function () {
					layer.msg('未知错误', {icon:5,time:1000});
				},
			}; 
			$("form").ajaxSubmit(options);  
			
			
        });
    })
		
		function showfirst(gamename, num) {
			$('.game').show();			
			var show_num = 0;
			arr = gamename.split(',');
			for (i = 0; i < $('.game').length; i++) {
				if (jQuery.inArray($('.game').eq(i).attr('short').substr(0, 1), arr) == "-1") {
					$('.game').eq(i).hide();
				}else show_num ++;
			}
			for (var i = 0; i <= 5; i++) {
				document.getElementById('li2-' + i).className = '';
			}
			document.getElementById('li2-' + num).className = 'on';
			if (show_num == 0) {
				$('#gamelist .no_game').show();
			}else {
				$('#gamelist .no_game').hide();
			}
		}
		
		function showallgame(num, tol) {
			$('.game').show();
			var show_num = $('#mttitle li').length;			
			for (var i = 0; i <= tol; i++) {
				document.getElementById('li' + num + '-' + i).className = '';
			}
			document.getElementById('li' + num + '-0').className = 'on';
			if (show_num == 0) {
				$('#gamelist .no_game').show();
			}else {
				$('#gamelist .no_game').hide();
			}
		}
		function showfirstmt(gamename, num) {
			$('.mtname').show();			
			var show_num = 0;
			arr = gamename.split(',');
			for (i = 0; i < $('.mtname').length; i++) {
				if (jQuery.inArray($('.mtname').eq(i).attr('short').substr(0, 1), arr) == "-1") {
					$('.mtname').eq(i).hide();
				}else show_num ++;
			}
			for (var i = 0; i <= 5; i++) {
				document.getElementById('limt2-' + i).className = '';
			}
			document.getElementById('limt2-' + num).className = 'on';
			if (show_num == 0) {
				$('#gamelist .no_game').show();
			}else {
				$('#gamelist .no_game').hide();
			}
		}
		function showallgamemt(num, tol) {
			$('.mtname').show();
			var show_num = $('#gamelist li.game').length;
			for (var i = 0; i <= tol; i++) {
				document.getElementById('limt' + num + '-' + i).className = '';
			}
			document.getElementById('limt' + num + '-0').className = 'on';
			if (show_num == 0) {
				$('#gamelist .no_game').show();
			}else {
				$('#gamelist .no_game').hide();
			}
		}
</script>
</div>
<include file="Public/footer" />