<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="renderer" content="webkit">
  <title>上传素材</title>
  <meta name="keywords" content="上传素材" />
  <meta name="description" content="上传素材" />
  <link rel="stylesheet" href="__CSS__/base.v4.5.css">
  <link rel="stylesheet" type="text/css" href="__CSS__/uploadvectordiagram.css">
  <link rel="stylesheet" type="text/css" href="__CSS__/photo.css">
  <script src="__JS__/jQuery.1.8.2.min.js"></script>
</head>
<body>
  <include file="Public:header"/> 
  <div class="upload-nav">    
    <a href="javascript:void(0);" class="on">上传素材</a>
  </div>
  <div class="upload-main">
    <div class="upload-con">     
      <div class="upload-category clearfix">
        <span class="category-name fl">标题</span>
		<input type="hidden" name="mid" class="category-input fl" maxlength="50" value="<{$info.mid}>"/>
        <input type="text" name="title" class="category-input fl" maxlength="50" value="<{$info.title}>"/>
        <span class="category-notice fl" data-tag="title">
          可以输入
          <i>50</i>
          字，请用一句话概括出文件大意
        </span>
        <span class="notice" data-name="title">
          <i></i>
          标题格式错误
        </span>
      </div>
      <div class="upload-category clearfix">
        <span class="category-name fl">
          关键词
          <a class="btn-default auto-key" style="float: right;margin-top: 0px">自动填充</a>
        </span>
        <textarea name="keywords" class="category-textarea fl"><{$info.keywords}></textarea>
        <span class="category-notice fl" data-tag="keywords">
          关键词
          <i>6</i>
          组，每组用空格分开，请包含文件的元素、内容
        </span>
        <span class="notice" data-name="keywords">
          <i></i>
          标签最少6组
        </span>
      </div>
	  <div class="upload-category clearfix">
        <span class="category-name fl">描述</span>
        <textarea name="des" class="category-textarea fl"><{$info.des}></textarea>
        <span class="category-notice fl" data-tag="des">         
          上传素材的一句话描述
        </span>
		<span class="notice" data-name="des">
          <i></i>
          标签最少6组
        </span>		
      </div>
	  <div class="upload-category clearfix">
        <span class="category-name fl">尺寸</span>
        <input type="text" name="size1" class="category-input fl" maxlength="50" style="width:40px;" onkeyup="ptcyxylsu(this)" value="<{$info.size1}>" /><span style="display: inline-block;float: left;line-height: 50px;text-align: center;width: 30px;">*</span>
		<input type="text" name="size2"  onkeyup="ptcyxylsu(this)" class="category-input fl" maxlength="50" style="width:40px;" value="<{$info.size2}>" />
        <span class="category-notice fl" data-tag="size">
         请输入相应尺寸(格式400*400)
        </span>
        <span class="notice" data-name="size">
          <i></i>
          尺寸输入错误
        </span>
      </div>
      <div class="upload-category clearfix">
        <span class="category-name fl">分类</span>
        <div class="input-box cursor-input fl">
          <input type="text" class="input-text" name="cid" placeholder="<{$cateinfo}>" onfocus="this.blur()" data-id="<{$info.catid}>" />
          <i class="triangle"></i>
          <div class="cate drop-box">
            快速选择：
            <input type="text" class="txt" id="quick_select"/>
		  <volist name='cate' id='vo' offset="1">
             <a href="javascript:void(0);" data-id="<{$key}>"><{$vo}></a>
          </volist>         
          </div>
        </div>
        <span class="notice" data-name="cate">
          <i></i>
          请选择分类
        </span>
      </div>
	  <div class="upload-category clearfix">
        <span class="category-name fl">游戏</span>
        <input type="text" name="game" class="category-input fl" maxlength="50" value="<{$info.game}>"/>
        <span class="category-notice fl" data-tag="game">
          请正确填写推广素材对应的游戏 
        </span>
        <span class="notice" data-name="game">
          <i></i>
          标签最少6组
        </span>
      </div>
	  <div class="upload-category clearfix">
        <span class="category-name fl">落地页地址</span>
        <input type="text" name="cps_url" class="category-input fl" maxlength="200" value="<{$info.cps_url}>" />
        <span class="category-notice fl" data-tag="cps_url">
          可以输入
          <i>50</i>
          字，请输入相应素材对应的落地页地址
        </span>
        <span class="notice" data-name="cps_url">
          <i></i>
          落地页地址不能为空
        </span>
      </div>
      <div class="upload-category clearfix">
        <span class="category-name fl">上传源文件</span>
        <a href="javascript:void(0);" id="picker-up" class="category-y fl">重传源文件</a>
        <span class="category-notice fl" data-tag="vectorDiagram">支持1.5M以内mp4,flv,swf文件</span>
        <span class="notice fl" data-name="vectorDiagram">
          <i></i>
          源文件上传错误
        </span>
        <div class="upload-progress"></div>
      </div>
      <div class="upload-category clearfix">
        <span class="category-name fl">上传预览图</span>
        <a href="javascript:void(0);" id="picker-down" class="category-y fl">重传预览图</a>
        <span class="category-notice fl" data-tag="preview">支持jpg、png格式，RGB模式，单张（宽、高大于1200px）</span>
        <span class="notice fl" data-name="preview">
          <i></i>
          预览图上传错误
        </span>
        <div class="wait-upload"></div>
      </div>
      <div class="upload-category clearfix">
        <span class="category-name fl">媒体</span>
        <div class="input-box cursor-input fl">
          <input type="text" class="input-text" name="chanid" placeholder="<{$channelinfo}>" onfocus="this.blur()" data-id="<{$info.chanid}>" />
          <i class="triangle"></i>
          <div class="channel drop-box">
            快速选择：
            <input type="text" class="txt" id="select_channel"/>
            <volist name='channel' id='vo' offset="1">
              <a href="javascript:void(0);" data-id="<{$key}>"><{$vo}></a>
            </volist>
          </div>
        </div>
        <span class="notice" data-name="channel">
          <i></i>
          请选择媒体
        </span>
      </div>
      <div class="upload-category clearfix">
        <input type="hidden" name="download_src" value="<{$info.remote_url}>" />
        <input type="hidden" name="detail_preview_src" value="<{$info.thumb}>" />
        <a href="javascript:void(0);" class="sub-examine" id="sub-edit">提交审核</a>
        <span class="notice" data-name="submit">
          <i></i>
          提交审核失败
        </span>
      </div>
    </div>
  </div>
  <script>
    $(function(){
      $('#quick_select').blur(function(){
        var select = $('#quick_select').val();
        var options = $('.cate.drop-box').find("a"); // select下所有的option
        var reg = /(\|-----)*/;
        for (var i=0;i<options.length;i++){
          if (options.eq(i).text().replace(reg,'').indexOf(select)>-1){
            options.eq(i).click();
            break;
          }
        }
      });

      $('#select_channel').blur(function(){
        var select = $('#select_channel').val();
        var options = $('.channel.drop-box').find("a"); // select下所有的option
        var reg = /(\|-----)*/;
        for (var i=0;i<options.length;i++){
          if (options.eq(i).text().replace(reg,'').indexOf(select)>-1){
            options.eq(i).click();
            break;
          }
        }
      })
    });
  </script>
<script type="text/javascript" src="__UPLOAD__/webuploader.js"></script>
<script type="text/javascript" src="__JS__/layer/layer.js"></script>
<script type="text/javascript" src="__JS__/uploader.js"></script>
<script type="text/javascript" src="__JS__/select.js"></script>
<include file="Public:footer"/>
</body>
</html>