<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="renderer" content="webkit">
  <title>7477素材网</title>
  <link rel="stylesheet" href="__CSS__/index_base.v4.4.css">
  <link rel="stylesheet" type="text/css" href="__CSS__/index.v1.7.css" />
  <script type="text/javascript" src="__JS__/jQuery.1.8.2.min.js"></script>
</head>
<body>
  <include file="Public:header"/>

  <div id="index-banner">

    <div class="ck-slide">
      <ul class="ck-slide-wrapper">
        <li >
          <a href="#" target = "_blank" rel="nofollow" style="background: url(__IMAGE__/277f675cf69f862f444e4adb1d90cf0b.jpg) no-repeat center; background-size: cover;"></a>
        </li>
        <li style='display:none'>
          <a href="#" target = "_blank" rel="nofollow" style="background: url(__IMAGE__/5d547dc3f9915796e1ce7d9d6289c1b8.jpg) no-repeat center; background-size: cover;"></a>
        </li>
      </ul>
      <a href="javascript:" class="ctrl-slide ck-prev">上一张</a>
      <a href="javascript:" class="ctrl-slide ck-next">下一张</a>
      <div class="ck-slidebox">
        <div class="slideWrap">
          <ul class="dot-wrap">
            <li class='current'><em>1</em></li>
            <li><em>2</em></li>           
          </ul>
        </div>
      </div>
      <div class="search">
        <h2></h2>
        <div class="search-m">

          <div class="btn-select-search fl" id="pic_index_search">
            <div class="current-select">
              <span id="pic_current_search_type">全部作品</span> <i></i>
            </div>
            <div class="select-list" id="pic_search_type_table">
              <div id="pic_search_type_list">
                <a pic-click-type="search_type" pic-search-type="all" href="javascript:void(0);">全部作品</a>
                <a pic-click-type="search_type" pic-search-type="photo" href="javascript:void(0);">摄影图</a>
                <a pic-click-type="search_type" pic-search-type="vector" href="javascript:void(0);">矢量图</a>
                <a pic-click-type="search_type" pic-search-type="video" href="javascript:void(0);">视频</a>
              </div>
            </div>
          </div>

          <form id="searchform">
            <input type="hidden" id="pic_form_search_model" name="search_mode" value="all"/>
            <input type="text" class="text fl" id="searchinput" placeholder="1,070,455张高清图片免费下载" AUTOCOMPLETE="OFF">
            <input onclick="_hmt.push(['_trackEvcent', 'index-search', 'submit', '首页搜索'])" id="pic_form_search_submit" type="submit" class="but fl tran" value="搜 索"></form>
          <div pic-click-type="sug-list" class="search-sug"></div>
          <div pic-click-type="sug-list" class="search-hot"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="wrapper">
    <div class="state">
      <div class="state-m">
        <dl>
          <a href="#" rel="nofollow">
            <dt> <i class="st1"></i>
              已审核作品
            </dt>
            <dd style="color:#fd6d49; ">已通过创意主管审核</dd>
            <dd>可以提交推广部上线测试</dd>
          </a>
        </dl>
        <dl>
          <a href="#" rel="nofollow">
            <dt>
              <i class="st2"></i>
              未审核作品
            </dt>
            <dd>未通过创意主管审核</dd>
            <dd>需修改或弃用</dd>
          </a>
        </dl>
        <dl>
          <a href="#" rel="nofollow">
            <dt>
              <i class="st3"></i>
              媒体达标作品
            </dt>
            <dd>已上线测试的素材</dd>
            <dd>效果达到合格标准</dd>
          </a>
        </dl>
        <dl>
          <a href="#" rel="nofollow">
            <dt>
              <i class="st4"></i>
              媒体未通过作品
            </dt>
            <dd>包括媒体拒审</dd>
            <dd>测试结果未达标的素材</dd>
          </a>
        </dl>

      </div>
    </div>  
  </div>

  <div id="footer">
    <div class="foot">
      <p style="font-size: 14px; margin-bottom: 0; color: #ccc; margin-top: 5px;">摄图网，为您提供免费正版摄影图，免除版权困扰</p>
      <div style="position: relative;">
        <span class="copyright">
          Copyright &copy; 2015摄图网 沪ICP备15050430号， 用时：0.0095
          <span class='load_time'></span>
          秒
        </span>
        <a href="#" target="_blank" title="实名认证" rel="nofollow">
          <img src="__IMAGE__/footer-sm_83x30.png" alt="实名认证" title="实名认证" />
        </a>
        <a href="#" target="_blank" title="电子营业执照" rel="nofollow">
          <img src="__IMAGE__/shgs.jpg" height="30" alt="电子营业执照" style="position: absolute; top: 3px; margin-left: 10px;" title="电子营业执照" />
        </a>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="__JS__/jquery.slide.js"></script>
<script type="text/javascript">
$('.ck-slide').ckSlide({
  autoPlay: true
});
</script>
</html>