@media screen and (max-width: 339px) {
  html {
    font-size: 42.8px;
  }
}

@media screen and (min-width: 340px) and (max-width: 359px) {
  html {
    font-size: 45.333px;
  }
}

@media screen and (min-width: 360px) and (max-width: 374px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) and (max-width: 383px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 384px) and (max-width: 399px) {
  html {
    font-size: 51px;
  }
}

@media screen and (min-width: 400px) and (max-width: 413px) {
  html {
    font-size: 53.3333px;
  }
}

@media screen and (min-width: 414px) and (max-width: 431px) {
  html {
    font-size: 55.2px;
  }
}

@media screen and (min-width: 432px) and (max-width: 450px) {
  html {
    font-size: 57.6px;
  }
}

@media screen and (min-width: 451px) and (max-width: 475px) {
  html {
    font-size: 60.1333px;
  }
}

@media screen and (min-width: 476px) and (max-width: 500px) {
  html {
    font-size: 63.4667px;
  }
}

@media screen and (min-width: 501px) and (max-width: 525px) {
  html {
    font-size: 66.8px;
  }
}

@media screen and (min-width: 526px) and (max-width: 550px) {
  html {
    font-size: 70.1333px;
  }
}

@media screen and (min-width: 551px) and (max-width: 575px) {
  html {
    font-size: 73.6px;
  }
}

@media screen and (min-width: 576px) and (max-width: 600px) {
  html {
    font-size: 76.8px;
  }
}

@media screen and (min-width: 601px) and (max-width: 625px) {
  html {
    font-size: 80.1333px;
  }
}

@media screen and (min-width: 626px) and (max-width: 650px) {
  html {
    font-size: 81.2px;
  }
}

@media screen and (min-width: 651px) and (max-width: 675px) {
  html {
    font-size: 84.5333px;
  }
}

@media screen and (min-width: 676px) and (max-width: 700px) {
  html {
    font-size: 88px;
  }
}

@media screen and (min-width: 701px) and (max-width: 725px) {
  html {
    font-size: 91.2px;
  }
}

@media screen and (min-width: 726px) and (max-width: 750px) {
  html {
    font-size: 94.4px;
  }
}

@media screen and (min-width: 751px) {
  html {
    font-size: 100px;
  }
}

body,
form,
div,
span,
ul,
ol,
li,
p,
pre,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
em,
a,
fieldset,
legend,
address,
label,
textarea,
select,
input,
figure,
table,
th,
td,
b,
i {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-size: 14px;
  font-family: "微软雅黑", "宋体", Verdana;
  height: 100%;
  max-width: 750px;
  margin: 0 auto;
  overflow-x: hidden;
}

fieldset,
img {
  border: 0;
}

ul,
li {
  list-style: none;
}

em,
i {
  font-style: normal;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

a:focus,
input,
button,
select,
textarea {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-variant: normal;
  font-weight: normal;
}

select,
img {
  vertical-align: middle;
}

legend {
  display: none;
}

textarea {
  resize: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.swiper-container {
  padding-bottom: 0.3rem;

  .swiper-slide-one {
    .menu-button {
      position: absolute;
      top: 0;
      right: 0px;
      padding: 0.24rem;
      cursor: pointer;
      -webkit-transition: 0.3s;
      transition: 0.3s;

      .bar {
        position: relative;
        display: block;
        width: 0.66rem;
        height: 0.04rem;
        margin: 0.2rem auto;
        background-color: #d2d2d2;
        border-radius: 10px;
        -webkit-transition: 0.3s;
        transition: 0.3s;

        &:nth-of-type(1) {
          margin-top: 0px;
        }

        &:nth-of-type(3) {
          margin-bottom: 0px;
        }
      }
    }

    .cross {
      background: #d2d2d2;

      .bar {
        background: #fff;

        &:nth-of-type(1) {
          -webkit-transform: translateY(0.25rem) rotate(-45deg);
          -ms-transform: translateY(0.25rem) rotate(-45deg);
          transform: translateY(0.25rem) rotate(-45deg);
        }

        &:nth-of-type(2) {
          opacity: 0;
        }

        &:nth-of-type(3) {
          -webkit-transform: translateY(-0.23rem) rotate(45deg);
          -ms-transform: translateY(-0.23rem) rotate(45deg);
          transform: translateY(-0.23rem) rotate(45deg);
        }
      }
    }

    .cont_eng_bt {
      font-size: 0.4rem;
      color: #9e0202;
      line-height: 0.7rem;
    }

    .cont_bt {
      font-size: 0.485rem;
      color: #b07800;
      line-height: 0.7rem;
    }

    .news_content {
      text-align: left;

      .inputBox {
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;

        .selBox.active {
          img {
            display: none;
          }

          .up {
            display: block;
          }
        }

        .selBox {
          margin-top: 0.1rem;
          padding-left: 0.73rem;
          box-sizing: border-box;
          position: relative;
          border: 2px solid #ebebee;
          margin-right: 5px;
          line-height: 0.56rem;
          background: #fff url(../images/time.png) 0.2rem center no-repeat;
          width: 3.2rem;

          span {
            font-size: 0.28rem;
            opacity: 0.8;
            color: #3f3e55;
          }

          img {
            position: absolute;
            right: 0.34rem;
            top: 0.26rem;
          }

          .up {
            display: none;
          }

          .pullList {
            position: absolute;
            top: 0.56rem;
            overflow: hidden;
            width: 3.2rem;
            left: -2px;
            background: #fff;
            z-index: 2;
            display: none;

            ul {
              border: 2px solid #ebebee;
              padding-left: 0.73rem;
              box-sizing: border-box;

              li {
                font-size: 0.28rem;
                color: #3f3e55;
                opacity: 0.6;
              }
            }
          }
        }

        .searchBox {
          margin-top: 0.1rem;
          box-sizing: border-box;
          position: relative;
          border: 2px solid #ebebee;
          margin-right: 5px;
          line-height: 0.56rem;
          width: 3.2rem;

          input {
            width: 2.5rem;
            padding-left: 0.15rem;
            border: none;
            height: 0.56rem;
            line-height: 0.56rem;
            display: block;
            background: transparent;
            font-size: 0.28rem;
            opacity: 0.8;
            color: #3f3e55;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            outline: 0;
          }

          a {
            position: absolute;
            top: 0;
            right: 0.24rem;
          }
        }
      }

      .news_li {
        margin-top: 0.3rem;
        background: #eee;

        img {
          width: 100%;
        }

        .zhuti {
          padding: 0.2rem;
          color: #232323;

          h1 {
            font-size: 0.37rem;
            line-height: 0.45rem;
          }

          h3 {
            font-size: 0.25rem;
            line-height: 0.6rem;
          }

          p {
            font-size: 0.18rem;
            color: #696969;
            text-indent: 2em;
            line-height: 0.25rem;
            text-align: justify;
          }
        }
      }
    }

    .contact_content {
      text-align: left;

      .xiangqing {
        margin-top: 0.2rem;

        .lxfs {
          line-height: 0.5rem;
          color: #666464;
          font-size: 0.24rem;

          img {
            width: 0.4rem;
            margin-right: 0.1rem;
          }
        }

        .ditu {
          width: 100%;
          padding-top: 0.2rem;
          border-top: 1px solid #c9c9c9;
          margin-top: 0.2rem;
        }

        .gzgd {
          font-size: 0.31rem;
          color: #666464;
          line-height: 0.5rem;
          margin-top: 0.2rem;
        }

        .ewm {
          width: 1.52rem;
        }
      }
    }

    .intr_content.on {
      display: block;
    }

    .intr_content {
      text-align: left;
      margin-top: 0.1rem;
      padding: 0 0.26rem;
      display: none;

      .text {
        margin-top: 0.1rem;

        p {
          font-size: 0.25rem;
          color: #696969;
          line-height: 0.4rem;
          text-indent: 2em;
          text-align: justify;
        }
        .time_bt{
          font-size: 0.5rem;
          color: #949494;
          text-indent: 0;   
        }

        .cont_bt {
          font-size: 0.485rem;
          color: #b07800;
          line-height: 0.7rem;
          text-indent: 0;       
         }

        .video {
          width: 4.6rem;
          height: 2.3rem;
          margin: 0.1rem auto;
          display: block;
        }

        h3 {
          padding-top: .4rem;
          font-size: .48rem;
          color: #898989;
        }

        h4 {
          font-size: .32rem;
          color: #898989;
        }

        img {
          width: 100%;
          margin: .3rem 0;
        }

        h1 {
          font-size: .5rem;
          color: #eb3a00;
          padding-bottom: 10px;
        }

        h2 {
          color: #b9b9b9;
          font-size: .4rem;
          padding-bottom: .3rem;
          font-family: Montserrat-Regular;
          text-transform: uppercase;
          letter-spacing: -3px;
          line-height: .52rem;
        }
      }

      .pingzhi {
        width: 100%;
        margin-top: 0.1rem;
      }

      .time_bt {
        font-size: 0.32rem;
        margin-top: 0.2rem;
        color: #949494;
      }

      .p_list {
        font-size: 0;
        margin-top: 0.2rem;

        .p_time {
          line-height: 0.4rem;
          height: 0.4rem;
          color: #373737;
          font-size: 0.32rem;
          overflow: hidden;

          span {
            display: inline-block;
            vertical-align: middle;
            height: 100%;
          }

          .quanqun {
            width: 0.1rem;
            height: 0.1rem;
            border-radius: 50%;
            background: #a2a1a1;
            border: 1px solid #a2a1a1;
            padding: 0.08rem;
            background-clip: content-box;
          }

          .jt {
            color: #c04242;
            margin: 0 0.25rem 0 0;
            margin-top: -0.05rem;
            font-size: 0.18rem;
          }
        }

        .p_shijian {
          padding-left: 0.75rem;
          font-size: 0.19rem;
          color: #666464;
          line-height: 0.35rem;
        }
      }

      .hz_list {
        text-align: center;
        font-size: 0;

        .hzqy {
          margin-top: 0.3rem;
          width: 33%;
          height: 0.75rem;
          display: inline-block;
          vertical-align: top;

          img {
            max-width: 1.8rem;
            max-height: 0.75rem;
          }
        }
      }
    }

    .intr_bg {
      border-radius: 0.5rem;
      padding: 0.2rem 0.3rem 0.2rem;
      background: #eee;
    }

    .rzgdList {
      .li.on {
        display: block;
      }

      .li {
        position: relative;
        display: none;

        .zhaop_li {
          margin-top: 0.2rem;
          padding-bottom: 0.3rem;

          .zp_bt {
            text-indent: 0;
            font-size: 0.26rem;
            font-family: "宋体";
            color: #979797;
            line-height: 0.9rem;
            background: #e2e2e2;
            padding-left: 0.5rem;

            img {
              vertical-align: -0.15rem;
              margin-right: 0.05rem;
              width: 0.52rem;
            }

            span {
              font-family: "Arial";
              margin-right: 0.3rem;
            }
          }

          h3 {
            line-height: 0.45rem;
            font-size: 0.25rem;
            margin-top: 0.2rem;
            color: #cfa972;
            text-indent: 2em;
          }

          p {
            line-height: 0.45rem;
            font-size: 0.19rem;
            margin-top: 0.2rem;
            color: #979797;
            text-indent: 2em;
          }
        }
      }
    }

    .publicwelfare {
      position: relative;

      .jj {
        font-size: 0.46rem;
        color: #787878;
        line-height: 0.75rem;
      }

      .jieshao {
        background: #f4f4f4;
        padding: .15rem;
        font-size: .18rem;
        line-height: .3rem;
        color: #696969;
        margin-top: .2rem;
        margin-bottom: -.4rem;

        p {
          text-indent: 2em;
        }
      }
    }
  }

  .gallery-top {
    margin-top: 0.4rem;
    height: 3.65rem;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .zhez {
    background: rgba(171, 105, 57, 0.5);
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 0.9rem;
    z-index: 1;
  }

  .next2 {
    width: 0.17rem;
    height: 0.31rem;
    background-size: 100% 100%;
    right: 1rem;
    top: 0.3rem;
    margin-top: 0;
  }

  .prev2 {
    width: 0.17rem;
    height: 0.31rem;
    background-size: 100% 100%;
    left: 1rem;
    top: 0.3rem;
    margin-top: 0;
  }

  .gallery-thumbs {
    position: absolute;
    top: 0.1rem;
    left: 50%;
    width: 3.2rem;
    margin-left: -1.6rem;

    overflow: hidden;

    .swiper-slide {
      width: 0.96rem;
      height: 0.67rem;
      border: 0.06rem solid #fff;
      border-radius: 0.05rem;
      box-sizing: border-box;
    }

    .swiper-slide-thumb-active {
      border-color: #f39800;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .menu {
    min-width: 100px;
    min-height: 100vh;
    width: 3.2rem;
    background-color: #a40000;
    color: #fff;

    .bt {
      width: 3.8rem;
      padding: 0 0 0 0.2rem;
      background: #850707;
      font-size: 0.44rem;
      line-height: 1rem;
      margin-bottom: 0.35rem;
    }

    .daohang {
      line-height: 0.9rem;
      border-bottom: 1px solid #fff;
      font-size: 0.4rem;
      margin-left: -0.3rem;
      padding-left: 0.3rem;

      a {
        color: #fff;
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .daohang.on {
      color: #000;
    }

    .list {
      display: none;
      margin-left: -0.3rem;
      border-bottom: 1px solid #fff;
      line-height: 0.6rem;
      padding: 0.2rem 0 0.2rem 0.3rem;

      a {
        color: #fff;
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .qita {
      padding: 0 0 0.5rem 0.3rem;
      background: #850707;
      line-height: 0.6rem;

      .tou {
        font-size: 0.24rem;
        margin-left: -0.3rem;
        padding-left: 0.3rem;
        border-bottom: 1px solid #fff;
      }

      .li {
        padding-right: 0.3rem;

        a {
          color: #fff;
        }

        span {
          float: right;
        }
      }
    }
  }

  .menu.cross {
    margin-left: -0.3rem;
    padding: 0 0.3rem;

    .bt {
      margin-left: -0.3rem;
    }

    .qita {
      margin-left: -0.3rem;
    }
  }
}

.content {
  width: 6.9rem;
  margin: 0 0.3rem;
  overflow: hidden;

  .top {
    width: 100%;
    height: 1rem;
    padding-top: 0.3rem;
    box-sizing: border-box;

    img {
      width: 1.85rem;
      display: block;
    }
  }

  .swiper-container2 {
    width: 100%;
    height: 3.25rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }

    .rightContent {
      width: 50%;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      padding: 11% 0 0 8%;
      box-sizing: border-box;

      h1 {
        font-size: .32rem;
        color: #fff;
        padding-bottom: 5px;

      }

      h2 {
        font-size: 0;
        line-height: 20px;

        img {
          vertical-align: middle;
          margin-right: 5px;
          width: 17px;
        }

        a {
          font-size: .32rem;
          font-family: DINCond-BoldAlternate;
          color: #ea4b3d;
          vertical-align: middle;
        }
      }
    }
  }

  .Product-classification {
    text-align: center;
    background: #eee;
    padding: 0.1rem 0 0.13rem;
    margin-top: 0.1rem;

    .bt {
      font-size: 0.22rem;
      color: #9e0202;
      line-height: 0.3rem;
    }

    .eng-bt {
      font-size: 0.19rem;
      color: #c3c3c3;
      line-height: 0.25rem;
    }

    .productList {
      display: inline-block;
      vertical-align: top;
      width: 1.38rem;
      height: 1.77rem;
      background: #fff;
      margin: 0.1rem 0.1rem 0;
      border-top: 0.07rem solid #fff;
      font-size: 0.185rem;
      color: #6b6b6b;

      .cont-tit {
        line-height: 0.3rem;
        padding: 0.35rem 0;
      }

      .eng-cont-tit {
        line-height: 0.15rem;
        font-size: 0.11rem;
        color: #d1d1d1;
        text-align: left;
        width: 1.1rem;
        margin: 0 auto;
      }
    }

    .list1 {
      border-top-color: #e60012;
    }

    .list2 {
      border-top-color: #f39800;
    }

    .list3 {
      border-top-color: #00479d;
    }

    .list4 {
      border-top-color: #8fc31f;
    }
  }

  .news {
    padding: 0.2rem 0 0.4rem;
    text-align: center;

    .bt {
      font-size: 0.22rem;
      color: #9e0202;
      line-height: 0.4rem;
    }

    .eng-bt {
      font-size: 0.19rem;
      color: #c3c3c3;
      line-height: 0.3rem;
    }

    .newsOne {
      border-top: 1px solid #9f9f9f;
      padding: 0.1rem 0 0.2rem;
      font-size: 0;

      .exhibition {
        display: inline-block;
        vertical-align: top;
        width: 3rem;
        height: 1.9rem;
        margin-right: 0.2rem;
      }

      .details {
        display: inline-block;
        vertical-align: top;
        padding-top: 0.15rem;
        text-align: left;
        font-size: 0.18rem;
        width: 3.1rem;

        .title {
          color: #9d0202;
          line-height: 0.3rem;
          height: 0.6rem;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }

        .time {
          color: #d99f44;
          line-height: 0.5rem;
        }

        .abstract {
          font-size: 0.155rem;
          color: #909090;
          line-height: 0.25rem;
          height: 0.5rem;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
      }
    }

    .newslist {
      border-top: 1px solid #9f9f9f;
      line-height: 0.5rem;
      font-size: 0.18rem;
      text-align: left;

      a {
        color: #909090;
      }

      .time {
        float: right;
      }
    }

    .more {
      width: 100%;
      display: block;
      line-height: 0.5rem;
      border: 1px solid #cc0000;
      color: #cc0000;
      box-sizing: border-box;
      font-size: 0.23rem;
      margin-top: 0.3rem;
    }
  }

  .banner {
    width: 6.9rem;
    height: 2.33rem;
  }

  .qiehuan {
    margin-top: 0.12rem;
    height: 1.1rem;
    background: #eee;
    font-size: 0.2rem;
    color: #696969;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .on {
      color: #9e0202;
      
      border-bottom: 1px solid #9e0202;
    }
    li{
      line-height: 0.9rem;
    }
  }

  .industryNr {
    >.on {
      display: block;
    }

    >li {
      padding-top: 0.2rem;
      display: none;

      img {
        width: 100%;
        margin-top: 0.15rem;
      }

      .bt {
        color: #b07800;
        font-size: 0.27rem;
        line-height: 0.5rem;
      }

      .eng_bt {
        color: #dbdbdb;
        font-size: 0.4rem;
        line-height: 0.66rem;
      }

      .jianjie {
        color: #696969;
        font-size: 0.18rem;
        line-height: 0.3rem;
        text-indent: 2em;
      }

      .in_qiehuan {
        line-height: 0.9rem;
        background: #eee;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 0.1rem 0;

        li {
          width: 1.34rem;
          font-size: 0.2rem;
          color: #ce8537;
          letter-spacing: 0.05rem;
          padding-left: 0.05rem;
        }

        .on {
          color: #010100;
          border-bottom: 1px solid #9e0202;
          height: .7rem;
    line-height: .7rem;
        }
      }

      .nr_ul {
        li {
          display: none;

          .bt_2 {
            color: #a40000;
            font-size: 0.32rem;
            line-height: 0.5rem;
          }

          .xiangqing {
            color: #a40000;
            font-size: 0.24rem;
            line-height: 0.4rem;
          }
        }

        .on {
          display: block;
        }
      }

      h1 {
        font-size: 0.46rem;
        color: #787878;
        line-height: 0.75rem;
        font-family: "宋体";
      }

      h3 {
        margin-top: 0.2rem;
        color: #ce8537;
        font-size: 0.19rem;
        line-height: 0.5rem;
        text-align: center;
      }

      a {
        line-height: 0.45rem;
        font-size: 0.22rem;
        color: #c81010;
        padding: 0 0.2rem;
        display: inline-block;
        margin: 0.1rem 0;
      }

      .text {
        font-size: 0.18rem;
        line-height: 0.3rem;
        color: #696969;
        text-indent: 2em;
      }

      .wpxq {
        padding-bottom: 0.1rem;
        margin-top: 0.3rem;

        a {
          padding: 0;
          margin: 0;
        }

        img {
          margin-top: 0;
        }

        .title {
          text-align: center;
          color: #696969;
          font-size: 0.24rem;
          line-height: 1rem;
        }

        .fzjianjie {
          font-size: 0.18rem;
          line-height: 0.3rem;
          color: #6c6c6c;
          width: 6rem;
          margin: 0 auto;
          text-indent: 2em;
        }
      }
    }

    .zytz {
      position: relative;
      border: .8rem solid #444444;
      box-sizing: border-box;
      overflow: hidden;
      margin-top: .3rem;
      .swiper-button-next {
        background: url(../images/jt1.png);
        width: 0.22rem;
        height: 0.83rem;
        background-size: 100% 100%;
        margin-top: -0.42rem;
        right: 0.35rem;
      }

      .swiper-button-prev {
        background: url(../images/jt2.png);
        width: 0.22rem;
        height: 0.83rem;
        background-size: 100% 100%;
        margin-top: -0.42rem;
        left: 0.35rem;
      }

      img {
        margin-top: 0;
        height: 3rem;
      }

      h3 {
        line-height: 1rem;
        background: #e4e3e1;
        margin-top: 0;
        color: #a0a0a0
      }
    }


  }

  .projectDisplay {
    padding: .4rem .4rem 0;
    margin-top: .5rem;
    background: #f4f4f4;

    .textBox {
      h1 {
        padding-top: 20px;
        font-size: 30px;
        color: #bc8f4b;
        padding-bottom: 10px;
      }

      h2 {
        font-size: 13px;
        padding-bottom: 20px;
        color: #333333;
      }

      .backButton {
        display: block;
        width: 240px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 14px;
        color: #727175;
        border: 2px solid #ebebeb;
        margin-top: 20px;
        margin-bottom: 20px;
        background: #fff;
      }
    }
    .tabList{
      border-bottom: 2px solid #dadade;
      margin-bottom: .4rem;
      a{
        margin-right: 30px;
    font-size: 14px;
    color: #898989;
    line-height: 50px;
    display:inline-block;
    position: relative;
    border-bottom: 2px solid #eb3c00;
      }
    }
    .projectInfo{
      position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    .detail{
      font-size: 14px;
  line-height: 30px;
  color: #898989;
  text-align: justify;
  text-indent: 2em;
    }
    .titleBox{
      .enTitle{
        font-size: 30px;
    color: #eb3c00;
    font-family: Montserrat-Regular;
    letter-spacing: -3px;
      }
      .title{
        padding-bottom: 30px;
        font-size: 20px;
    color: #bc8f4b;
      }
      
    }
    }
    .swiper-container5{
      overflow: hidden;
      height: 3rem;
      position: relative;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  .proAddress{
    height: 160px;
    background: url(../images/proDetailBg1.jpg) center center no-repeat;
    color: #fff;
    padding: 15px 20px 0;
    h1{
      padding-bottom: 10px;
      font-size: 20px;
    }
    .textBox{
      p{
        line-height: 30px;
        font-size: 16px;
    background: left center no-repeat;
    padding-left: 38px;
      }
      .address{
        background-image: url(../images/dingwei.png);
      }
      .phone{
        background-image: url(../images/phone.png);
      }
      .web{
        background-image: url(../images/web.png);
      }
    }
  }
  .newsCont{
    text-align: left;
    
    .newstext{
      margin-top: .5rem;
      background: #f3f3f3;
      padding: .2rem;
      h1{
        color: #3f3e55;
    font-size: 30px;
      }
      h2{
        color: #3f3e55;
    font-size: 18px;
    opacity: 0.9;
    padding-bottom: 25px;
      }
      p{
        text-align: justify;
        font-size: 14px;
    line-height: 24px;
    color: #b1b1b1;
    padding-bottom: 20px;
    text-indent: 2em;
      }
    img{
      width: 100%;
      margin: .2rem 0;
    }}
  }
}

.aptitude {
  font-size: 0.14rem;
  color: #909090;
  line-height: 0.4rem;
  margin-top: 0.2rem;
  text-align: center;
  a{
    color: #909090;
  }
}

.swiper-button-next {
  background: url(../images/right.png);
  width: 0.42rem;
  height: 0.43rem;
  background-size: 100% 100%;
  margin-top: -0.22rem;
  right: 0.35rem;
}

.swiper-button-prev {
  background: url(../images/left.png);
  width: 0.42rem;
  height: 0.43rem;
  background-size: 100% 100%;
  margin-top: -0.22rem;
  left: 0.35rem;
}