<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="renderer" content="webkit">
  <title>添加栏目</title>
  <meta name="keywords" content="添加栏目" />
  <meta name="description" content="添加栏目" />
  <link rel="stylesheet" href="__CSS__/base.v4.5.css">
  <link rel="stylesheet" type="text/css" href="__CSS__/uploadvectordiagram.css">
  <link rel="stylesheet" type="text/css" href="__CSS__/photo.css">
  <script src="__JS__/jQuery.1.8.2.min.js"></script>
</head>
<body>
  <include file="Public:header"/> 
  <div class="upload-nav">    
    <a href="javascript:void(0);" class="on">添加栏目</a>
	<input type="hidden" name="cid" class="category-input fl" maxlength="50" value="<{$model.cid}>" />
  </div>
  <div class="upload-main">
    <div class="upload-con">     
      <div class="upload-category clearfix">
        <span class="category-name fl">栏目名称</span>
        <input type="text" name="title" class="category-input fl" maxlength="50" value="<{$model.name}>" />
        <span class="category-notice fl" data-tag="title">
          可以输入
          <i>50</i>
          字，请用一句话概括出文件大意
        </span>
        <span class="notice" data-name="title">
          <i></i>
          标题格式错误
        </span>
      </div>      
	  <div class="upload-category clearfix">
        <span class="category-name fl">栏目简介</span>
        <textarea name="des" class="category-textarea fl"><{$model.des}></textarea>
        <span class="category-notice fl" data-tag="des">         
          上传素材的一句话描述
        </span>
		<span class="notice" data-name="des">
          <i></i>
          标签最少6组
        </span>		
      </div>	  
      <div class="upload-category clearfix">
        <span class="category-name fl">上级分类ID</span>
        <div class="input-box cursor-input fl">
          <input type="text" class="input-text" name="pid" placeholder="<{$catepidinfop}>" onfocus="this.blur()" data-id="<{$model.pid}>" />
          <i class="triangle"></i>
          <div class="drop-box">
			<volist name='cate' id='vo'>
			<if condition="$key neq $model['cid']">
            <a href="javascript:void(0);" data-id="<{$key}>"><{$vo}></a>
            </if>
			</volist>
          </div>
        </div>
        <span class="notice" data-name="cate">
          <i></i>
          请选择分类
        </span>
      </div>
	  <div class="upload-category clearfix"> 
	  <span class="category-name fl">当前缩略图</span>
	  <div class="preview-small imgWrap fl" style="background: url(<{$model.img_url}>) 50% 50% no-repeat; width:200px; height:150px;"></div>
	 
	  </div>
      <div class="upload-category clearfix">
        <span class="category-name fl">重传预览图</span>
        <a href="javascript:void(0);" id="picker-down" class="category-y fl">重传预览图</a>
        <span class="category-notice fl" data-tag="preview">支持jpg、png格式，RGB模式，单张（宽、高大于1200px）</span>
        <span class="notice fl" data-name="preview">
          <i></i>
          预览图上传错误
        </span>
        <div class="wait-upload"></div>
      </div>
      <div class="upload-category clearfix">       
        <input type="hidden" name="detail_preview_src" value="" />
        <a href="javascript:void(0);" class="sub-examine" id="sub-cateedit">提交审核</a>
        <span class="notice" data-name="submit">
          <i></i>
          提交审核失败
        </span>
      </div>
    </div>
  </div>
<script type="text/javascript" src="__UPLOAD__/webuploader.js"></script>
<script type="text/javascript" src="__JS__/layer/layer.js"></script>
<script type="text/javascript" src="__JS__/cate.js"></script>
<script type="text/javascript" src="__JS__/select.js"></script>
<include file="Public:footer"/>
</body>
</html>