<div class="swiper-slide menu swiper-slide-one">
    <p class="bt">MENUE</p>
    <div class="daohang" data-type='zjxt'>走进东关</div>
    <div class="list zjxt">
        <div class="li"><a href="/dongguan.html?type=0">>&nbsp;企业介绍</a></div>
        <div class="li"><a href="introduce.html?type=1">>&nbsp;企业理念</a></div>
        <div class="li"><a href="introduce.html?type=2">>&nbsp;企业年志</a></div>
        <div class="li"><a href="introduce.html?type=3">>&nbsp;企业荣誉</a></div>
        <div class="li"><a href="introduce.html?type=4">>&nbsp;合作伙伴</a></div>
    </div>
    <div class="daohang" data-type='xwzx'><a href="news.html">新闻中心</a></div>
    <div class="daohang" data-type='jtcp'>集团产业</div>
    <div class="list jtcp">
        <div class="li"><a href="industry.html?type=0">>&nbsp;房地产开发</a></div>
        <div class="li"><a href="industry.html?type=1">>&nbsp;城市更新</a></div>
        <div class="li"><a href="industry.html?type=2">>&nbsp;置业投资</a></div>
        <div class="li"><a href="industry.html?type=3">>&nbsp;物业服务</a></div>
    </div>

    <div class="daohang" data-type='shgy'><a href="publicwelfare.html">社会公益</a></div>
    <div class="daohang" data-type='rczp'>人才招聘</div>
    <div class="list rczp">
        <div class="li"><a href="culture.html?type=0">>&nbsp;人在东关</a></div>
        <div class="li"><a href="culture.html?type=0">>&nbsp;东关招聘</a></div>
    </div>

    <div class="daohang" data-type='lxwm'><a href="contact.html">联络我们</a></div>
</div>